{#
/**
 * @file
 * Droopler's theme implementation for a pagetitle block.
 *
 #}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'container',
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
  {% block content %}
    <div{{ content_attributes.addClass('content', 'col-xs-12') }}>
      {{ content }}
    </div>
  {% endblock %}
  </div>
</div>
