{#
/**
 * @file
 * Droopler's theme implementation for a pagetitle block.
 *
 #}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
]
%}

{% if show_title %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="row">
        <div{{ content_attributes.addClass('col-12') }}>
          {{ content }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endif %}
