{#
/**
 * @file
 * A layout for the checkout registration form
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'd-commerce-checkout-register-container',
  'col-12',
  'col-lg-9',
  'col-xl-7',
  'mx-auto',
  'pt-5',
  'pb-3',
  'mt-5',
] %}

<div class="commerce-checkout-completion-register {{ classes|join(' ') }}">
  <div class="commerce-checkout-completion-register__text">
    <h3>{%trans%}Create your account{%endtrans%}</h3>
    <p>{%trans%}Set a password to save your details for next time.{%endtrans%}</p>
  </div>
  <div class="commerce-checkout-completion-register__form">
    {{ form }}
  </div>
</div>
