/*
Components Buttons, links

Styleguide 2.banner.celina
*/

// Paddings and margins.
$button-min-width: 18rem !default; // Minimum width of the button (desktop)

// Standard Bootstrap button
.btn {
  @include font-button;
  cursor: pointer;
  white-space: nowrap;

  @include media-breakpoint-up(lg) {
    min-width: $button-min-width;
  }
}

