$text-container-width: 35em;

.node--type-blog-post {

  .container {
    margin: 0 ! important;
    padding: 0 !important;
    max-width: 100vw;
  }

  .node .field--type-image {
    float: none;
  }

  .field--name-field-blog-category {
    text-align: center;
  }

  // Center text Submitted on ...
  .node__meta {
    span {
      text-align: center;
    }
  }

  .blog_post_header {
    position: relative;
  }

  .blog_post_header_absolute_wrapper {
    position: absolute;
    top: 83%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    h1 {
      font-size: 48px;
      width: 54%;
      margin-left: auto;
      margin-right: auto;
      text-transform: none;
    }
  }

  .field--name-field-blog-main-image,
  .paragraph--full-screen-width {
    img {
      width: 100%;
    }
    .field--name-field-d-p-blog-image {
      img {
        width: 100%;
      }
    }
  }

  .field--name-field-d-p-blog-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    img {
      width: $text-container-width;
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: auto;
    }
  }

  .field--name-field-d-p-blog-text {
    width: $text-container-width;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
