$blog-listing-header-color: #1a6dbb;

.blog-listing-main-header {
  background-color: $blog-listing-header-color;
  color: $white;
  padding-top: 125px;
  padding-bottom: 86px;
  text-transform: none;

  &:after {
    @include decoration-header-line-main-center;
  }
}

.node--view-mode-teaser {
  .field--name-field-blog-category {
    display: inline;
  }

  .node_blog_post_title {
    text-align: left;
    padding-left: 0;

    &:after {
      @include decoration-header-line;
    }
  }



  .node__meta {
    padding-left: 0;
    color: #68696b;
    a {
      color: #68696b;
    }
  }
  .nav-link {
    padding-left: 0;
  }

  @media all and (min-width: 768px) {
    .article-row {
      height: 326px;
    }

    .node_blog_post_title {
      font-size: 22px;
    }

    .node__content {
      padding: 0;
      margin: 0;
    }

    .field--name-field-blog-teaser {
      p {
        font-size: 10px;
        margin: 0;
      }
    }
  }

}

