$text-container-width: 35em;

.node--type-blog-post {

  .container {
    margin: 0 ! important;
    padding: 0 !important;
    max-width: 100vw;
  }

  .node .field--type-image {
    float: none;
    img {
      margin: 0;
    }
  }

  .blog_post_header {
    min-height: 200px;
    position: relative;
    background-color: #4C4C4C;

    .blog_post_header_absolute_wrapper {
      color: white;
      position: absolute;
      bottom: -4px;
      width: 100%;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;

      h1 {
        font-size: 45px;
        margin: 25px auto 35px;
        text-transform: none;
        color: white;
      }

      .author_attributes {
        font-size: 18px;
        color: white;

        a {
          color: white;
        }
      }

      .field--name-field-blog-category {
        text-align: center;
        font-size: 16px;
        color: #8e8a89;

        a {
          color: #8e8a89;
        }
      }

      // Center text Submitted on ...
      .node__meta {
        span {
          text-align: center;
        }
      }
    }

  @media all and (max-width: 1200px) {
    .blog_post_header_absolute_wrapper {

        bottom: 0;
        h1 {
          color: red;
          margin: 25px auto 22px;
          font-size: 26px;
        }

        .author_attributes {
          font-size: 12px;
        }

        .field--name-field-blog-category {
          font-size: 10px;
        }
      }
    }
  }

  @media all and (max-width: 576px) {
    .blog_post_header {
      min-height: 150px;
      .blog_post_header_absolute_wrapper {
        top: 40%;
        transform: translateY(-50%);
        h1 {
          font-size:18px;
          margin: 15px auto 15px;
        }
      }
    }
  }

  .field--name-field-blog-main-image {
    img {
      width: 100%;
      margin: 0;
    }
  }

  .paragraph--full-screen-width {
    img {
      width: 100%;
    }
    .field--name-field-d-p-blog-image {
      img {
        width: 100%;
      }
    }
  }

  .field--name-field-d-p-blog-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    img {
      width: $text-container-width;
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: auto;
    }
  }

  .field--name-field-d-p-blog-text {
    width: $text-container-width;
    margin: 10px auto;
    display: block;

    h1, h2, h3, h4, h5, h6 {
      color: black;
      text-align: left;
      font-weight: bold;
    }

    h2 {
      font-size: 2em
    }
  }

  @media all and (max-width: 768px) {
    .field--name-field-d-p-blog-text {
      width: 73%;
      h2 {
        font-size: 22px;
      }
      h3, h4, h5, h6 {
        font-size: 20px;
      }
    }
    .field--name-field-d-p-blog-image {
      img {
        width: 100%;
      }
    }
  }
  @media all and (max-width: 576px) {
    .field--name-field-d-p-blog-text {
      width: 73%;
      h2 {
        font-size: 17px;
      }
      h3, h4, h5, h6 {
        font-size: 16px;
      }
    }
  }
}