/*
Side by Side

Styleguide 2.d_p_side_by_side
*/

// Colour variables used in this paragraph
$d-p-side-by-side-line-color: $color-agamemnon !default;
$d-p-side-by-side-line-color-inverted: $color-nestor !default;
$d-p-side-by-side-color: $color-hecuba !default;
$d-p-side-by-side-bold-color: $color-troilus !default;

// Margins, paddings and sizing.
$d-p-side-by-side-padding-y: 5% !default;

$d-p-side-by-side-subtitle-margin-y: 2.125rem !default;

$d-p-side-by-side-content-padding-x: 7vw !default;
$d-p-side-by-side-text-box-padding-y: $grid-gutter-width !default;
$d-p-side-by-side-node-box-margin-x: 0 - $grid-gutter-width / 2 !default;
$d-p-side-by-side-image-background-padding-y: 130px !default;

.d-p-side-by-side {
  text-align: center;
  padding-top: $d-p-side-by-side-padding-y;
  padding-bottom: $d-p-side-by-side-padding-y;

  > div > .field--name-field-d-media-icon {
    text-align: center;
  }

  .text-content {
    padding-bottom: $d-p-side-by-side-padding-y;

    .field--name-field-d-main-title {
      @include font-main-header;

      &:after {
        @include decoration-header-line-main-center($d-p-side-by-side-line-color, $d-p-side-by-side-line-color-inverted);
      }
    }

    .field--name-field-d-long-text {
      margin: $d-p-side-by-side-subtitle-margin-y 0;
      @include font-subtitle;
    }
  }

  .wrapper-d_p_single_text_block {
    padding: $d-p-side-by-side-text-box-padding-y 0;
    text-align: left;
    display: flex;
    height: 100%;
    align-items: center;

    .image-background-container,
    &::before {
      position: absolute;
      width: 100vw;
      right: 0;
      top: 0;
      display: block;
      height: 100%;
      z-index: -1;
      left: 0;
      background: inherit;
      content: "";

      @include media-breakpoint-up(sm) {
        width: 50vw;
      }
    }

    .d-p-text-block {
      margin-bottom: 0;
      width: 100%;
      .field--name-field-d-main-title {
        font-size: $font-main-header-size;
      }
    }
  }
  .item-1,
  .item-2 {
    .user-image-background {
      padding: $d-p-side-by-side-image-background-padding-y 0;
      &:before {
        content: none;
      }
      .image-background-container {
        position: absolute;
        height: 100%;
        min-width: 50vw;
        top: 0;
        left: unset;
        display: block;
        z-index: -1;
        &.background-properties {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
    .d-media-background-wrapper {
      z-index: -1;
      @include media-breakpoint-up(sm) {
        width: 50vw;
      }
    }
  }
  .item-1 {
    .user-image-background {
      .image-background-container {
        right: 0;
      }
    }
    .d-media-background-wrapper {
      @include media-breakpoint-up(sm) {
        margin-left: calc(100% - 50vw);
      }
    }
  }
  .item-2 {
    .user-image-background {
      .image-background-container {
        left: 0;
      }
    }
  }

  .paragraph--type--d-p-node {
    display: flex;
    align-items: center;

    @include media-breakpoint-between(sm, md) {
      margin: 0 $d-p-side-by-side-node-box-margin-x;
    }
  }

  .expandable-content {
    overflow: hidden;
    position: relative;
  }

  .item-1,
  .item-2 {
    .geysir-field-paragraph-wrapper {
      position: unset;
      height: 100%;
    }
  }

  .item-1 {
    @include media-breakpoint-up(sm) {
      padding-right: $d-p-side-by-side-content-padding-x;
    }
  }
  .item-2 {
    @include media-breakpoint-up(sm) {
      padding-left: $d-p-side-by-side-content-padding-x;
    }
  }

  .field--name-field-d-long-text {
    p {
      color: $d-p-side-by-side-color;
      word-wrap: break-word;
      hyphens: auto;
      b, strong {
        color: $d-p-side-by-side-bold-color;
      }
    }
  }
}
