// Filters

$d-product-facets-header: 1.20rem !default;
$d-product-teaser-header: 1.20rem !default;
$d-product-view-border: 1px solid $color-hector;
$d-product-filters-group-margin: 45px;

@mixin facet-header {
  font-size: $d-product-facets-header;
  color: $color-agamemnon;
  letter-spacing: 0.5px;

}

@mixin product-teaser-header {
  font-size: $d-product-teaser-header;
  color: $color-agamemnon;
  padding-top: 3px;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

@mixin filters-facets-link {
  ul {
    padding: 0;
    list-style: none;
    li {
      @include media-breakpoint-down(sm) {
        padding-bottom: 10px;
      }
      a {
        text-transform: capitalize;
        color: $color-patroclus;
        letter-spacing: 1px;
        &.is-active {
          color: $color-troilus;
          text-decoration: none;
        }

        .facet-item__value {
          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }
        .facet-item__count {
          float: right;
          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }
        .js-facet-deactivate {
          font-weight: bold;
          padding-right: 5px;
          font-size: 110%;
          text-decoration: none;
          top: 1px;
          position: relative;
        }
        &:hover {
          .facet-item__value {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@mixin btn-reset {
  letter-spacing: 0.08rem;
  font-size: 12px;
  padding: 6px 18px;
  border-radius: 0;
}

@mixin search-field-default {
  border-radius: 0px;
  border: 0;
  padding: 16px 48px 12px 17px;
  background-color: $color-leto;
  background-size: 26px;
  background-image: url('/profiles/contrib/droopler/themes/custom/droopler_theme/images/search.svg');
  background-repeat: no-repeat;
  background-position: right 17px center;
}

@mixin links-as-tags {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      line-height: normal;
      padding: 0 6px 18px 0;
      a {
        font-size: 14px;
        border: 1px solid $color-diomedes;
        letter-spacing: 1px;
        padding: 7px 10px;
        &:hover,
        &:active {
          border: 1px solid $color-patroclus;
          background: $color-leto;
          color: $color-priam;
          text-decoration: none;
          .facet-item__value {
            text-decoration: none;
          }
        }
        &.is-active {
          border: 1px solid $color-patroclus;
          background-color: $color-leto;
          text-decoration: none;
          .facet-item__status {
            font-size: 100%;
            padding-right: 5px;
          }
          &:hover {
            .facet-item__value {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@mixin btn-select2 {
  //height: 100%;
  margin-bottom: 0;
  outline: 0;

  * {
    height: 100%;
    margin-bottom: 0;
    outline: 0;
  }
  .select2-container--default {
    width: 100% !important;
    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__rendered {
          color: $color-troilus;
          justify-content: flex-end;
        }
      }
    }
    .select2-selection--single {
      border-radius: 0;
      border-color: $color-hecuba;
      .select2-selection__rendered {
        color: $color-hecuba;
        font-size: 16px;
        padding: 9px 62px 7px 23px;
        @include media-breakpoint-down(sm) {
          justify-content: left;
          color: $color-hecuba;
        }
      }

      .select2-selection__arrow {
        //&:after {
        height: 100%;
        background-image: url('/profiles/contrib/droopler/themes/custom/droopler_theme/images/arrow.svg');
        background-size: 27px;
        background-repeat: no-repeat;
        background-position: right;
        display: inline-block;
        width: 30px;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: none;
        border-right: none;
        margin-right: 14px;
        border-left: none;
        //}

        b {
          display: none;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .select2-selection--single {
        background-color: transparent;
        border: 2px solid $color-hector;
        .select2-selection__rendered {
          align-items: left;
        }
      }
    }
  }
}

.x-mark {
  padding-right: 18px;
  background-image: url('/profiles/contrib/droopler/themes/custom/droopler_theme/images/x.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

// Page Products
// Facets && filers
.top-product-info {
  margin-bottom: 24px;
  display: flex;
  align-items: end;

  .product-item-counter {
    height: 26px;
    font-size: 19px;
    padding-top: 28px;
  }
}

.view-products-list {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -5px 0 -5px;
  }
}

.product-listing {
  .views-exposed-form {
    width: 100%;
    .form-submit,
    .form-type-textfield, .form-actions {
      display: none;
    }
    @include btn-select2;
  }
  .pagination {
    margin-top: 1rem;
    justify-content: center;

    li {
      margin-right: 5px;
      a {
        @extend .btn;
        @extend .btn-sm;
        min-width: auto;
        width: auto;
        color: $color-hecuba;
        font-weight: normal;
        line-height: 1;
        padding: 9px 11px;
        border-radius: 0;
      }

      &.active {
        a {
          border: $d-product-view-border;
        }
      }

      &.pager__item--ellipsis {
        display: flex;
        align-items: center;
      }
    }
  }
}

.products-list-teaser {
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    &:nth-child(odd) {
      padding-right: 15px;
    }
    &:nth-child(even) {
      padding-left: 15px;
    }
  }

  .node--view-mode-teaser {
    border: $d-product-view-border;
    cursor: pointer;
    height: 100%;
    box-shadow: (0 0 10px -3px $color-aeneas);
    padding-bottom: 0;
    margin-bottom: 15px;
    .product-teaser-content {
      padding: 12px 19px 0 17px;
      font-size: 14px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    h2 {
      max-height: 45px;
      overflow: hidden;
      @include product-teaser-header;
    }
    .node__content {
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;

      img {
        width: 100%;
      }
    }
    .field--type-entity-reference {
      margin-bottom: 0;
    }
  }

  .product-preview-btn {
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: auto;
    align-self: end;
    @include media-breakpoint-between(sm, md) {
      min-width: 100%;
    }
  }
}

.filters {
  .region-facets-left {
    > .block:not(.block-mobile-filters-submit) {
      @extend .container;
    }
  }
  @include media-breakpoint-up(lg) {
    .region-facets-left {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .region-facets-left-top {
    margin-top: 21px;
    margin-bottom: 55px;
    @include media-breakpoint-down(md) {
      margin-bottom: 25px;
    }
    h2.search {
      color: $color-aeneas;
      font-size: 28px;
      font-weight: normal;
      padding-bottom: 4px;
    }

    .views-exposed-form {
      .form-type-select,
      .form-submit {
        display: none;
      }
    }
  }
  .region-facets-left,
  .region-facets-left-top {
    h2 {
      @include facet-header;
    }
    .block.block-facet-blocktags-taxonomy-term-name {
      .content {
        margin-top: 31px;
        @include links-as-tags;
      }
    }

    .block-facets.block-facet--links {
      margin-top: $d-product-filters-group-margin;
      @include filters-facets-link;
    }

    .form-item-aggregated-field .form-control {
      @include search-field-default;
    }

    .block-d-product.block-reset-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: $d-product-filters-group-margin;

      &#block-resetfilters:after {
        content: " ";
        display: block;
        width: 100%;
        margin-top: 30px;
        border-bottom: $d-product-view-border;
      }
      h2 {
        margin-bottom: 0;
      }
      .content {
        margin-left: auto;
        @include media-breakpoint-down(lg) {
          margin-left: initial;
          margin-top: 15px;
        }
        .btn {
          min-width: auto;
        }
      }
    }
  }
  .btn-reset {
    @include btn-reset;
  }
}

@mixin content-top-bar-wrapper-sticky {
  top: 0;
  //position: sticky;
  position: fixed;
  left: 0;
  //margin: 0 -15px;
  z-index: 1;
  width: 100% !important;
  padding: 15px 15px !important;

  @include media-breakpoint-down(xs) {
    top: 70px;
  }
}

.mobile-filter {
  @extend .d-lg-none;
  transition: none !important;
  overflow: hidden;
}

.top-product-info {
  .region-facets-top {
    width: 100%;
  }

  .mobile-filter {
    height: 50px;
    text-transform: capitalize;
    text-align: left;
    font-size: 17px;
    letter-spacing: 0;
    padding: 0 20px;
    position: relative;
    color: $color-serpedon;
    border-color: $color-serpedon;
    &:hover {
      color: $white;
      background: $color-serpedon;
    }

    @include media-breakpoint-down(md) {
      min-width: 220px;
    }
    @include media-breakpoint-down(sm) {
      min-width: 100%;
      width: 100%;
    }

    &:active {
      background-color: inherit;
    }

    &:hover {
      &:after {
        background-image: url(/profiles/contrib/droopler/themes/custom/droopler_theme/images/funnel-white.svg);
      }
    }

    &:after {
      position: absolute;
      content: "";
      background-image: url(/profiles/contrib/droopler/themes/custom/droopler_theme/images/funnel.svg);
      background-repeat: no-repeat;
      background-position: right top 0;
      width: 30px;
      height: 25px;
      right: 15px;
    }
    &.mobile-filters-active {
      &:after {
        background-image: url(/profiles/contrib/droopler/themes/custom/droopler_theme/images/funnel-thicked.svg);
      }
      &:hover {
        &:after {
          background-image: url(/profiles/contrib/droopler/themes/custom/droopler_theme/images/funnel-thicked-white.svg);
        }
      }
    }

    .mobile-filters-counter {
      text-indent: -9999px;
      height: 10px;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      border-radius: 5px;
      background-color: red;
      top: 7px;
      right: 20px;
      width: 10px;
      margin-right: -5px;
      z-index: 90;
    }
  }
}

.block-mobile-filters {
  float: left;
  @include media-breakpoint-down(sm) {
    float: left;
    text-align: center;
    width: calc(50% - 20px);
  }
}

.navigation-bar-visible {
  .mobile-filter {
    &:after {
      background: none;
    }
  }
}

.region-facets-left-top .form-type-select,
.region-facets-left-top .form-submit,
.top-product-info .form-type-textfield,
.top-product-info .form-actions {
  display: none;
}

@include media-breakpoint-down(sm) {
  .dropdown-menu.show {
    right: -2px;
    width: auto !important;
  }
}

body:not(.scrolled-buttons) {

  .top-product-info {
    .region-facets-top {
      padding: 0;
    }
  }
}

@include media-breakpoint-down(md) {

  body.scrolled-buttons {

    .top-product-info {

      //@include box-shadow(0 -2px 6px 4px rgba($color-vulcan, .4));

      //@include media-breakpoint-down(sm) {
      background-color: $color-nestor;
      @include content-top-bar-wrapper-sticky();

      .block-mobile-filters,
      .views-exposed-form {
        margin-bottom: 0;

        .mobile-filter {
          float: left;
          min-width: 63px;
          transition: none;

          &:after {
            background-position: center top;
          }
          .mobile-filters-counter {
            right: 23px;
          }
        }
        .bootstrap-select {
          .dropdown-toggle::after {
            background-position: left top;
          }
        }
      }
      .block-mobile-filters {
        float: left;
        padding-right: 10px;

        button {
          text-indent: -9999px;
        }
        //margin-left: -10px;
      }
      .views-exposed-form {
        float: right !important;
        width: auto !important;
        min-width: auto !important;

        .filter-option {
          display: none;
        }
        .select2 {
          min-width: 220px !important;

          .select2-selection--single {
            width: 63px !important;
            float: right;
          }
          .select2-selection__rendered {
            display: none !important;
          }
        }
      }

      .views-exposed-form {
        .content {
          .select2-container--default {
            .select2-selection--single {
              .select2-selection__arrow {
                width: 61px;
                background-position: center;
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    &.toolbar-fixed {
      .top-product-info {
        top: 30px;
      }
    }
    .select2-dropdown--below {
      border-top-left-radius: 5px !important;
      &:before {
        width: calc(100% - 63px);
        background: black;
        margin: 0 0 0 2px;
        height: 1px;
      }
      li[aria-selected="true"] {
        display: block !important;
      }
    }
  }

}

.top-product-info {
  margin-bottom: 25px;
  @include media-breakpoint-between(sm, md) {
    padding: 0;
  }
  @include media-breakpoint-down(xs) {
    padding: 0;
  }
  .views-exposed-form {
    float: right;
    min-width: 307px;
    width: auto;

    @include media-breakpoint-down(md) {
      height: 50px;
      border-radius: 0.25rem;
      min-width: 220px;

    }
    @include media-breakpoint-down(sm) {
      min-width: 180px;
      width: calc(50% - 20px);
      float: right;
    }

    .bootstrap-select {
      width: 100% !important;

      .dropdown-menu.show {

        .inner.show {
          overflow: hidden;
        }
      }
      .btn {
        @include media-breakpoint-down(sm) {
          min-width: 220px;
        }
      }
      .filter-option {
        @include media-breakpoint-down(sm) {
          width: auto;
          padding: 13px 0;
          left: 20px;
          font-size: 17px;
        }
      }
      &.show {
        .dropdown-toggle {
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          &:hover {
            @include media-breakpoint-up(md) {
              background-color: $white;
            }
          }
          @include media-breakpoint-down(sm) {
            border: none;
          }
        }
      }

      .dropdown-toggle {
        height: 50px;
        border: 2px solid transparent;
        &::after {
          border-bottom: none;
        }
        &:hover {
          background-color: inherit;
        }
      }
      div.dropdown-menu {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0;
        padding: 0;
        z-index: 9;
        @include media-breakpoint-down(sm) {
          width: 222px;
          border-bottom: 1px solid $black;
          border-left: 1px solid $black;
          border-right: 1px solid $black;
          transform: translate3d(-1px, 46px, 0px) !important;
        }
      }
      div.dropdown-menu::before {
        content: '';
        width: 260px;
        //background: $color-mars;
        display: block;
        height: 2px;
        margin: 3px auto;
        @include media-breakpoint-down(sm) {
          width: 100px;
          height: 1px;
        }
      }
      .dropdown-menu {
        li {
          a {
            @include media-breakpoint-down(sm) {
              padding: 0;
              text-align: center;
            }
            .text {
              font-size: 15px;
              letter-spacing: 1px;
            }

            &.dropdown-item {

            }

            @include media-breakpoint-down(sm) {
              padding: 10px 0;
            }
          }
        }
        li:last-child {
          padding-bottom: 2px;
        }
      }
    }

    .content {
      @include btn-select2;

      @include media-breakpoint-up(md) {
        .select2 {
          margin-top: 3px;
        }
      }
    }
  }
  .top-product-info-sort-wrapper {
    > .row {
      flex-direction: column;
    }
  }

}

@include media-breakpoint-down(md) {
  .region-facets-left {
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: $color-leto;
    overflow-x: hidden;
    padding-top: 10%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }
}

.navigation-bar-visible {
  overflow: hidden;

  .bootstrap-select {
    z-index: 0;
    .dropdown-menu.show {
      width: calc(100% + 2px) !important;
    }
  }

  .block-mobile-filters-submit {
    display: block !important;
    position: sticky;
    z-index: 1030;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
    flex-grow: 1;
    background-color: $color-troilus;

    .content {
      background-color: $color-memnon;
      padding: 25px 0;
      float: none;
      text-align: center;
    }
  }
}

.block-mobile-filters-submit {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.close-area {
  display: none;
}

.navigation-bar-visible {
  .close-area {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 100;
    cursor: pointer;
    display: block;
  }
}
