/**
 * Masonry side tiles paragraph.
 */

// Colour variables used in this paragraph.
$d-p-side-tiles-banner-image-background-color: $color-odysseus !default;
$d-p-side-tiles-banner-text-background-color: $color-agamemnon !default;
$d-p-side-tiles-banner-text-color: $color-odysseus !default;
$d-p-side-tiles-banner-link-color: $color-nestor !default;
$d-p-side-tiles-banner-link-hover-color: darken($d-p-side-tiles-banner-link-color, 5%) !default;
$d-p-side-tiles-line-color: $color-nestor !default;
$d-p-side-tiles-header-color: $color-odysseus !default;
$d-p-side-tiles-overlay-background: $color-cassandra !default;
$d-p-side-tiles-overlay-color: $color-odysseus !default;
$d-p-side-tiles-overlay-opacity: 0.6 !default;

// Margins, paddings and sizing.
$d-p-side-tiles-line-margin-top: 1.44rem !default;
$d-p-side-tiles-line-margin-bottom: 1.44rem !default;
$d-p-side-tiles-mobile-height: 18.75rem !default;
$d-p-side-tiles-banner-text-desktop-padding-y: 2rem !default;
$d-p-side-tiles-banner-text-mobile-padding-y: 7% !default;
$d-p-side-tiles-banner-text-width: 35.625rem !default;
$d-p-side-tiles-banner-half-padding: 5% !default; // Spacing between content and half of the screen

.d-p-side-tiles-wrapper {
  background-color: $d-p-side-tiles-banner-text-background-color;


  .d-p-side-tiles-content {
    color: $d-p-side-tiles-banner-text-color;

    h2 {
      @include font-main-header;
      color: $d-p-side-tiles-header-color;
      text-align: left;
      &:after {
        @include decoration-header-line;
        margin-top: $d-p-side-tiles-line-margin-top;
        margin-bottom: $d-p-side-tiles-line-margin-bottom;
        background: $d-p-side-tiles-line-color;
      }
      &:last-child:after {
        display: none;
      }
    }
    a {
      color: $d-p-side-tiles-banner-link-color;
      &:hover {
        color: $d-p-side-tiles-banner-link-hover-color;
      }
    }
  }

  .d-p-side-tiles-images {
    padding-left: 0;
    padding-right: 0;

    .field--name-field-d-image {
      background-color: $d-p-side-tiles-banner-image-background-color;

      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
        margin: 0 !important;
        display: block;
      }
    }
  }

  // Masonry styles.
  .d-side-tiles {
    float: none !important;
    margin: 0 !important;
    display: block !important;

    .d-tiles-sizer,
    .d-tiles-item {
      width: 50%;
    }

    .d-tiles-item {
      padding: 2px;
    }

    .d-tiles-caption {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: $d-p-side-tiles-overlay-background;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        color: $d-p-side-tiles-overlay-color;
        font-size: 1.5rem;
        font-weight: bold;

        small {
          display: block;
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }

    .d-tiles-caption:hover {
      opacity: $d-p-side-tiles-overlay-opacity;
    }
  }

  @include media-breakpoint-down(md) {
    .d-p-side-tiles-content {
      padding-top: $d-p-side-tiles-banner-text-mobile-padding-y;
      padding-bottom: $d-p-side-tiles-banner-text-mobile-padding-y;
    }
  }

  @include media-breakpoint-up(lg) {

    .d-p-side-tiles-content {
      padding: $d-p-side-tiles-banner-text-desktop-padding-y ($grid-gutter-width / 2);
      display: flex;
      align-items: center;

      .d-p-side-tiles-content-fields {
        width: 430px;
      }
    }
    &.image-side {
      &-right {
        .d-p-side-tiles-content {
          padding-right: $d-p-side-tiles-banner-half-padding;
          justify-content: flex-end;
          order: 1;
        }
        .d-p-side-tiles-images {
          order: 2;
        }
      }
      &-left {
        .d-p-side-tiles-content {
          padding-left: $d-p-side-tiles-banner-half-padding;
          justify-content: flex-start;
        }
      }
    }
  }
}
