/*
Side by Side

Styleguide 2.d_p_side_by_side
*/

// Colour variables used in this paragraph
$d-p-side-by-side-line-color: $color-agamemnon;
$d-p-side-by-side-color: $color-hecuba !default;
$d-p-side-by-side-bold-color: $color-troilus !default;

// Margins, paddings and sizing.
$d-p-side-by-side-padding-y: 5% !default;

$d-p-side-by-side-subtitle-margin-y: 2.125rem !default;
$d-p-side-by-side-line-margin: $line-center-margin-top auto $line-center-margin-bottom auto !default;

$d-p-side-by-side-content-padding-x-small: 5%;
$d-p-side-by-side-content-padding-x-big: 15%;
$d-p-side-by-side-text-box-padding-y: $grid-gutter-width;
$d-p-side-by-side-node-box-margin-x: 0 - $grid-gutter-width / 2;

.wrapper-d_p_side_by_side {
  padding-top: $d-p-side-by-side-padding-y;
  padding-bottom: $d-p-side-by-side-padding-y;
}

.d-p-side-by-side {
  text-align: center;

  > div > .field--name-field-d-icon {
    text-align: center;
  }

  .text-content {
    padding-bottom: $d-p-side-by-side-padding-y;

    h2 {
      @include font-main-header;

      &:after {
        @include decoration-header-line-main-center;
        background: $d-p-side-by-side-line-color;
        margin: $d-p-side-by-side-line-margin;
      }
    }

    .field--name-field-d-long-text {
      margin: $d-p-side-by-side-subtitle-margin-y 0;
      @include font-subtitle;
    }
  }

  .paragraph--type--d-p-single-text-block {
    margin-bottom: 0;
    padding: $d-p-side-by-side-text-box-padding-y 0;
    text-align: left;

    &::before {
      position: absolute;
      width: 100vw;
      right: 0;
      top: 0;
      display: block;
      height: 100%;
      z-index: -1;
      left: 0;
      background: inherit;
      content: "";

      @include media-breakpoint-up(sm) {
        width: 50vw;
      }
    }
  }

  .field--name-field-field-d-p-sbs-item-first {
    .paragraph--type--d-p-single-text-block {
      &::before {
        left: unset;
        right: 0;
      }
    }
  }

  .paragraph--type--d-p-node {
    display: flex;
    align-items: center;

    @include media-breakpoint-between(sm, md) {
      margin: 0 $d-p-side-by-side-node-box-margin-x;
    }
  }

  .expandable-content {
    overflow: hidden;
    position: relative;
  }

  .field--name-field-field-d-p-sbs-item-first,
  .field--name-field-field-d-p-sbs-item-second {
    height: 100%;
    display: flex;
    align-items: center;

    .geysir-field-paragraph-wrapper {
      position: unset;
      height: 100%;
    }
  }

  .field--name-field-field-d-p-sbs-item-first {
    @include media-breakpoint-up(md) {
      padding-right: $d-p-side-by-side-content-padding-x-small;
    }
    @include media-breakpoint-up(lg) {
      padding-right: $d-p-side-by-side-content-padding-x-big;
    }
  }
  .field--name-field-field-d-p-sbs-item-second {
    @include media-breakpoint-up(md) {
      padding-left: $d-p-side-by-side-content-padding-x-small;
    }
    @include media-breakpoint-up(lg) {
      padding-left: $d-p-side-by-side-content-padding-x-big;
    }
  }

  .field--name-field-d-long-text {
    p {
      color: $d-p-side-by-side-color;
      word-wrap: break-word;
      hyphens: auto;
      b, strong {
        color: $d-p-side-by-side-bold-color;
      }
    }
  }
}
