// Filters

$d-product-facets-header: 1.20rem !default;
$d-product-teaser-header: 1.40rem !default;

@mixin facet-header {
  font-size: $d-product-facets-header;
  color: $color-menelaus;

}

@mixin product-teaser-header {
  font-size: $d-product-teaser-header;
  color: $color-menelaus;

}

@mixin filters-facets-link {
  ul {
    padding: 0;
    list-style: none;
    li {
      a {
        color: $color-hecuba;
        letter-spacing: 1px;
        &.is-active {
          color: $color-cassandra;
          text-decoration: none;
        }
        .facet-item__value {
          @include media-breakpoint-down(sm) {
            font-size: 18px;
          }
        }
        .facet-item__count {
          float: right;
          @include media-breakpoint-down(sm) {
            font-size: 18px;
          }
        }
        .js-facet-deactivate {
          font-weight: bold;
          padding-right: 13px;
          font-size: 110%;
          text-decoration: none;
        }
        &:hover {
          .facet-item__value {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@mixin search-field-default {
  border-radius: 0px;
  border: 0;
  padding-right: 50px;
  background-color: $color-leto;
  background-size: 26px;
  background-image: url('/profiles/contrib/droopler/themes/custom/droopler_theme/images/search.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

@mixin links-as-tags {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      line-height: normal;
      padding: 0 6px 18px 0;
      a {
        border: 2px solid $color-diomedes;
        letter-spacing: 1px;
        padding: 7px 10px;
        &:hover,
        &:active {
          border: 2px solid $color-patroclus;
          background: $color-leto;
          color: $color-priam;
          text-decoration: none;
          .facet-item__value {
            text-decoration: none;
          }
        }
        &.is-active {
          border: 2px solid $color-patroclus;
          background-color: $color-leto;
          text-decoration: none;
          .facet-item__status {
            font-size: 100%;
            padding-right: 5px;
          }
          &:hover {
            .facet-item__value {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@mixin btn-select2 {
  height: 100%;
  margin-bottom: 0;
  outline: 0;

  * {
    height: 100%;
    margin-bottom: 0;
    outline: 0;
  }
  .select2-container--default {
    width: 100% !important;
    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__rendered {
          color: $color-troilus;
          justify-content: flex-end;
        }
      }
    }
    .select2-selection--single {
      border-radius: 0;
      border-color: $color-hecuba;
      .select2-selection__rendered {
        color: $color-hecuba;
        font-size: 16px;
        padding: 10px 60px 7px 20px;
        @include media-breakpoint-down(sm) {
          justify-content: left;
          color: $color-hecuba;
        }
      }

      .select2-selection__arrow {
        //&:after {
        height: 100%;
        background-image: url('/profiles/contrib/droopler/themes/custom/droopler_theme/images/arrow.svg');
        background-size: 27px;
        background-repeat: no-repeat;
        background-position: right;
        display: inline-block;
        width: 30px;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: none;
        border-right: none;
        margin-right: 14px;
        border-left: none;
        //}

        b {
          display: none;
        }
      }
    }

    @include media-breakpoint-down(sm) {

      &.select2-container--open {
        .select2-selection--single {
          background-color: red;
          border-color: red;
        }
      }
      .select2-selection--single {

        background-color:transparent;
        //border: 0;
        border-color: red;

        .select2-selection__rendered {
          align-items: left;
        }
      }
    }
  }
}


.x-mark {
  padding-right: 18px;
  background-image: url('/profiles/contrib/droopler/themes/custom/droopler_theme/images/x.svg');
  background-repeat: no-repeat;
}

// Page Products
// Facets && filers
.top-product-info {
  margin-bottom: 24px;
  .product-item-counter {
    padding-top: 26px;
    height: 26px;
    font-size: 19px;
  }
}
.view-products-list {
  .view-content {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
}

.product-listing {
  .views-exposed-form {
    width: 100%;
    .form-submit,
    .form-type-textfield, .form-actions {
      display: none;
    }
    @include btn-select2;
  }
}
.products-list-teaser {
  .node--view-mode-teaser {
    cursor: pointer;
    height: 100%;;
    border-top: 1px solid;
    .product-teaser-content {
      padding: 24px;
      font-size: 20px;
    }
    h2 {
      @include product-teaser-header;
    }
    .node__content {
      margin: 0;
    }
  }
  &:nth-child(odd) {
    padding-right: 0;
  }
  &:nth-child(even) {
    padding-left: 0;
    border-left: 1px solid;
  }
}
.filters {
  .region-facets-left {
    margin-top: 21px;
    h2.search {
      color: $color-patroclus;
      font-size: 28px;
      font-weight: normal;
      letter-spacing: 1px;
      padding-bottom: 4px;
    }

    .views-exposed-form {
      .form-type-select,
      .form-submit {
        display: none;
      }
    }

    h2 {
      @include facet-header;
    }
    .block.block-facet-blocktags-taxonomy-term-name {
      .content {
        margin-top: 31px;
        @include links-as-tags;
      }
    }

    .block-facets.block-facet--links {
      margin-top: 30px;
      @include filters-facets-link;
    }

    .form-item-aggregated-field .form-control {
      @include search-field-default;
    }
  }
}


