/**
 * Counters paragraph
 */

// Colour variables used in this paragraph.
$d-p-counters-background-overlay: $color-agamemnon !default;
$d-p-counters-line-color: $color-nestor !default;
$d-p-counters-line-color-inverted: $line-background !default;
$d-p-counters-header-color: $color-odysseus !default;
$d-p-counters-number-color: $color-odysseus !default;
$d-p-counters-text-color: $color-nestor !default;

// Margins, paddings and sizing.
$d-p-counters-title-margin-top: 0 !default;
$d-p-counters-padding-top: 7.5rem !default;
$d-p-counters-padding-bottom: 7.5rem !default;
$d-p-counters-mobile-padding-top: 3rem !default;
$d-p-counters-mobile-padding-bottom: 3rem !default;

// Other settings
$d-p-counters-background-opacity: 0.2 !default;

.paragraph--type--d-p-group-of-counters {
  position: relative;
  background: $d-p-counters-background-overlay;
  z-index: 0;

  .d-media-background-wrapper {
    opacity: $d-p-counters-background-opacity;
  }

  .content-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: $d-p-counters-padding-top;
    padding-bottom: $d-p-counters-padding-bottom;
    @include media-breakpoint-down(sm) {
      padding-top: $d-p-counters-mobile-padding-top;
      padding-bottom: $d-p-counters-mobile-padding-bottom;
    }

    .field--name-field-d-media-icon {
      text-align: center;
    }

    // The header.
    .content > .field--name-field-d-main-title {
      @include font-main-header;
      color: $d-p-counters-header-color;
      text-align: center;
      margin-top: $d-p-counters-title-margin-top;

      &:after {
        @include decoration-header-line-main-center($d-p-counters-line-color, $d-p-counters-line-color-inverted);
      }
    }

    // List of counters.
    .paragraph--type--d-p-single-counter {
      text-align: center;
      .field--name-field-d-number {
        @include font-main-header;
        color: $d-p-counters-number-color;
        font-family: $font-header;
      }
      .field--name-field-d-main-title {
        color: $d-p-counters-text-color;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}
