/*
Text page

Styleguide 2.banner.calina
*/

// Colour variables used in this paragraph
$d-p-text-paged-subtitle-color: $color-agamemnon !default;
$d-p-text-paged-line-color: $color-agamemnon !default;
$d-p-text-paged-color: $color-hecuba !default;

// Margins, paddings and sizing.
$d-p-text-paged-title-margin-top: 5% !default;
$d-p-text-paged-subtitle-margin-y: 1.125rem !default;
$d-p-text-paged-line-margin-top: 1rem !default;
$d-p-text-paged-line-margin-bottom: 1rem !default;
$d-p-text-paged-margin-y: 5% !default;

.text-page {
  margin-top: $d-p-text-paged-margin-y;
  margin-bottom: $d-p-text-paged-margin-y;

  > h2 {
    @include font-main-header;
    margin-top: $d-p-text-paged-title-margin-top;
    text-align: center;
  }

  > h3.field--name-field-d-subtitle {
    margin: $d-p-text-paged-subtitle-margin-y 0;
    @include font-subtitle;
    text-align: center;
    color: $d-p-text-paged-subtitle-color;
  }

  .field--name-field-d-long-text {
    p {
      color: $d-p-text-paged-color;
    }

    &:before {
      @include decoration-header-line-main-center;
      background: $d-p-text-paged-line-color;
      margin-top: $d-p-text-paged-line-margin-top;
      margin-bottom: $d-p-text-paged-line-margin-bottom;
    }
  }
}
