/*
Block paragraph.

Styleguide components.d_p.block
*/

// Colour variables used in this paragraph
$d-p-block-line-color: $color-nestor !default;
$d-p-block-line-color-inverted: $color-agamemnon !default;

// Margins, paddings and sizes.
$d-p-block-line-margin-top: $line-center-margin-top !default;
$d-p-block-line-margin-bottom: $line-center-margin-bottom !default;

.paragraph--type--d-p-block {
  .block__title {
    &+::before {
      @include decoration-header-line-main-center($d-p-block-line-color-inverted, $d-p-block-line-color);
      margin-top: $d-p-block-line-margin-top;
      margin-bottom: $d-p-block-line-margin-bottom;
    }
  }
}
