// Big page header with h1 title.
// Accepts header-name, background color, text color, padding top, padding bottom and header margin bottom.
@mixin listing-main-header($header-name, $background-color, $text-color, $padding-top, $padding-bottom, $header-margin-bottom) {
  .page-wrapper .main-header-wrapper
  {

    background-color: $background-color;

    #{$header-name} {
      color: $text-color;
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
      text-transform: none;
      text-align: center;

      &:after {
        @include decoration-header-line-main-center;
      }

      h1 {
        color: $text-color;
        margin-bottom: $header-margin-bottom;
      }
    }
  }
}
