/*
Components Main menu

ul with main menu.

Markup:
<ul class="nav navbar-nav main-menu">
  <li class="nav-item active"><a href="/en/node/1" class="nav-link active is-active" data-drupal-link-system-path="node/1">Home</a> </li>
  <li class="nav-item"><a href="/node/2" class="nav-link">About</a></li>
  <li class="nav-item"><a href="/node/3" class="nav-link">Services</a></li>
  <li class="nav-item"><a href="/node/4" class="nav-link">Gallery</a></li>
  <li class="nav-item"><a href="/node/5" class="nav-link">Contact</a></li>
</ul>

Styleguide 2.1
*/

// Colour variables used in this component
$menu-main-link-color: $color-cassandra !default;
$menu-main-link-active-color: $color-achillies !default;
$menu-main-link-hover-color: $menu-main-link-active-color !default;
$menu-main-link-dropdown: $color-hector !default; // Dropdown icon

$submenu-link-color: $color-odysseus !default; // Submenu item text color
$submenu-link-hover-color: $color-achillies !default; // Submenu item hover color
$submenu-link-hover-background: transparent !default; // Submenu item hover color

$menu-mobile-background: transparent !default;

$navbar-toggler-color: $color-agamemnon !default;
$mobile-sidebar-items-border: 2px solid $color-iphis !default;

$mega-menu-submenu-header-color: white !default;
$mega-menu-submenu-color: $color-odysseus !default;
$mega-menu-submenu-link-hover-color: $color-achillies !default;
$mega-menu-submenu-background-color: $color-acamas !default;
$mega-menu-submenu-mobile-background-color: rgba($color-cassandra, 0.1) !default;
$mobile-navigation-overlay-color: rgba($color-cassandra, 0.2) !default;

// Font sizes
$menu-font-size: $font-size-lg !default;
$submenu-font-size: $font-size-base !default;
$menu-dropdown-size: 2.3rem !default; // Size of the dropdown arrow
$navbar-toggler-size: 2.3rem !default; // Size of the toggler arrow

$mega-menu-header-font-family: 'Lato', sans-serif !default;
$mega-menu-submenu-font-family: $mega-menu-header-font-family !default;
$mega-menu-submenu-font-weight: normal !default;
$mega-menu-submenu-font-size: 1rem !default;
$mega-menu-submenu-header-font-family: $mega-menu-submenu-font-family !default;
$mega-menu-submenu-header-font-weight: 400 !default;
$mega-menu-submenu-header-font-size: 25px !default;
$mega-menu-link-line-height: 2rem !default;

// Paddings, margins and heights.
$menu-dropdown-width: 4rem !default;  // Width of desktop dropdown icon (desktop)
$menu-main-link-height: $header-height - (2 * $navbar-padding-y) !default;  // Height of menu item
$menu-main-link-padding-desktop: 1.125rem 1.5625rem !default;
$menu-main-link-padding-tablet: 1.125rem 1.2rem !default;
$menu-secondary-link-padding-x-tablet: 0.9rem !default;
$menu-secondary-social-icon-padding-tablet: 7px !default;
$menu-main-link-padding-y: 0.75rem !default;
$navbar-toggler-width: 5.625rem !default; // Width of mobile menu on/off toggler
$navbar-toggler-height: $header-mobile-height !default; // Height of mobile menu on/off toggler
$navbar-toggler-sidebar-spacing: 10px !default;
$submenu-offset-left: -1rem !default; // Move the submenu left or right (desktop)
$submenu-link-padding-x: 1.4rem !default; // Horizontal padding of submenu element (desktop)
$submenu-link-height: 2.9rem !default; // Height of links in submenu (desktop)
$mobile-sidebar-items-spacing: 10px !default;
$mobile-sidebar-submenu-spacing: 15px !default;

$secondary-menu-link-colors: $color-iphis !default;
$secondary-menu-link-hover-colors: $color-achillies !default;
$secondary-menu-link-padding-top: 0.65rem !default;
$secondary-menu-link-padding-bottom: 0.35rem !default;

$mega-menu-submenu-padding: 2rem 15% !default;
$mega-menu-submenu-link-padding-y: 9px !default;
$mega-menu-submenu-header-margin-bottom: 2 * $mega-menu-submenu-link-padding-y !default;
$mega-menu-submenu-header-text-long-margin: 2 * $mega-menu-submenu-link-padding-y !default;

$sidebar-animation-speed: 100ms !default;

@mixin mobile-toggle() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
  cursor: pointer;
  line-height: inherit;

  &::after {
    font-family: "fontello";
    content: "\e80d";
    padding: 0 10px;
  }
}
@mixin mobile-toggle-open() {
  &::after {
    content: "\e809";
  }
}
@mixin sublist-background() {
  position: relative;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $mega-menu-submenu-mobile-background-color;
    left: -50%;
    top: 0;
    z-index: -1;
  }
  &::after {
    left: 50%;
  }
}
@mixin sublist-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: $mobile-sidebar-items-spacing /2 ;
  padding-bottom: $mobile-sidebar-items-spacing /2;
  line-height: 1.5;

  &, a {
    color: black;
    line-height: unset;
  }
  a {
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      border: none;
    }
  }
}

.navbar-inner {
  flex-direction: column;
  align-items: flex-end;
}

button.navbar-toggler {
  display: none;
}

header.header > nav.navbar-wrapper {
  nav.main-navbar {
    position: static;
  }
}

.navbar-we-mega-menu {
  .we-mega-menu-submenu-inner {
    min-height: unset;
  }

  @include media-breakpoint-up($navbar-mobile-breakpoint-up) {
    ul.we-mega-menu-ul {
      position: static;

      span.d-submenu-toggler {
        display: none;
      }


      .we-mega-menu-submenu-inner {
        display: block !important;
      }

      & > li.we-mega-menu-li,
      & > li.we-mega-menu-li.active-trail,
      & > li.we-mega-menu-li.active {
        background: transparent;
        a {
          background: transparent;
          text-transform: capitalize;
          padding-top: $menu-main-link-padding-y;
          padding-bottom: $menu-main-link-padding-y;
          font-family: $mega-menu-header-font-family;
          color: $menu-main-link-color;
        }
      }
      li.we-mega-menu-li:hover {
        background: transparent;
        a {
          color: $menu-main-link-hover-color;
        }
      }

      & > li.we-mega-menu-li:last-child {
        margin-right: -15px;
      }

      // Mega menu
      li.we-mega-menu-li.dropdown-menu {
        position: relative;

        &.mega {
          position: static;
        }

        &.mega > .we-mega-menu-submenu {
          position: absolute;
          left: 1px;
          top: 100%;
          width: 100%;
        }
        & > .we-mega-menu-submenu {
          padding: $mega-menu-submenu-padding;
          background-color: $mega-menu-submenu-background-color;

          .block-inner {
            font-family: $mega-menu-submenu-font-family;
            font-weight: $mega-menu-submenu-font-weight;
            font-size: $mega-menu-submenu-font-size;
            color: $mega-menu-submenu-color;

            h2 {
              font-family: $mega-menu-submenu-header-font-family;
              font-weight: $mega-menu-submenu-header-font-weight;
              font-size: $mega-menu-submenu-header-font-size;
              color: $mega-menu-submenu-header-color;
              margin-bottom: $mega-menu-submenu-header-margin-bottom;
            }
            .field--type-text-long {
              h2 {
                margin-top: $mega-menu-submenu-header-text-long-margin;
              }
            }

            p {
              padding: 0 0 $mega-menu-submenu-link-padding-y 0;
              margin-bottom: 0;
            }

            ul, ul.nav {
              list-style-type: none;
              padding-left: 0;
              display: block;

              li, li.nav-item {
                padding: 0 0 $mega-menu-submenu-link-padding-y 0;

                a {
                  border: none;
                  font-family: $mega-menu-submenu-font-family;
                  font-weight: $mega-menu-submenu-font-weight;
                  color: $mega-menu-submenu-color;
                  padding: 0;

                  &:hover {
                    background-color: transparent;
                    border: none;
                    color: $mega-menu-submenu-link-hover-color;
                  }
                }
              }

            }
          }
        }

      }

      // Normal dropdown
      li.we-mega-menu-li.dropdown-menu:not(.mega) {
        & > .we-mega-menu-submenu {
          padding: 0;
          margin-left: $submenu-offset-left;
          border-radius: 0;
          white-space: nowrap;

          // Submenu item
          li.we-mega-menu-li {
            padding: 0;
            width: 100%;
            &:active, &:hover, &.active:active, &.active:hover {
              background: $submenu-link-hover-background;
              > a.we-mega-menu-li {
                color: $submenu-link-hover-color;
                text-decoration: none;
              }
            }
            &.dropdown-menu {
              > a.we-mega-menu-li {
                &::before {
                  display: none;
                }
                &::after {
                  color: $submenu-link-color;
                  content: "\e805";
                  font-family: fontello;
                  background: none;
                  transform: none;
                  margin-top: 0;
                  position: initial;
                  top: unset;
                  opacity: 1;
                  padding: 0;
                  display: flex;
                  width: unset;
                  font-size: inherit;
                  height: unset;
                }
              }
            }
            a.we-mega-menu-li {
              color: $submenu-link-color;
              font-size: $submenu-font-size;
              font-weight: $mega-menu-submenu-font-weight;
              padding: 0 $submenu-link-padding-x;
              line-height: $submenu-link-height;
              background: transparent;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }

    .we-mega-menu-ul > .dropdown-menu > a,
    .we-mega-menu-ul > .dropdown-menu > span,
    .menu--secondary-menu .nav-item a {
      padding: $menu-main-link-padding-desktop;

      &::after, &::before {
        display: none;
      }
    }
  }
}

.secondary-menu-region {
  p, a {
    color: $secondary-menu-link-hover-colors;

    &:not(:hover) {
      color: $secondary-menu-link-colors;
    }
  }

  .social-media-wrapper {
    ul {
      padding: 0;
      li {
        &::after {
          display: none;
        }
        a::before {
          margin: 0;
        }
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .secondary-menu-region,
  .region-primary-menu {
    a.nav-link {
      padding-left: $menu-secondary-link-padding-x-tablet;
      padding-right: $menu-secondary-link-padding-x-tablet;
    }
    .we-mega-menu-li > a.we-mega-menu-li {
      padding: $menu-main-link-padding-tablet;
    }
    .social-media-wrapper .icons-wrapper {
      a.icon {
        font-size: 115%;
        padding: $menu-secondary-social-icon-padding-tablet;
      }
    }
  }
}

@include media-breakpoint-down($navbar-mobile-breakpoint-down) {

  // Mobile navigation overlay.
  body {
    nav.main-navbar::before {
      content: "";
      position: fixed;
      background-color: $mobile-navigation-overlay-color;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: -1;
      display: none;
      opacity: 0;
      transition: opacity $sidebar-animation-speed;
    }

    &.navbar-open {
      overflow: hidden;

      nav.main-navbar::before {
        content: "";
        display: block;
        opacity: 1;
      }
    }
  }

  // Mobile Toggler and its relation to navbar wrapper.
  button.navbar-toggler {
    display: block;
    z-index: 100;
    width: $navbar-toggler-width;
    height: $navbar-toggler-height;
    padding: 0;
    border: none;
    border-radius: none;
    outline: 0;

    .navbar-toggler-icon {
      width: $navbar-toggler-width;
      height: $navbar-toggler-height;

      &:after {
        font-family: "fontello";
        color: $navbar-toggler-color;
        font-size: $navbar-toggler-size;
        line-height: $navbar-toggler-height;
        position: relative;
      }
    }

    &[aria-expanded="false"] .navbar-toggler-icon:after {
      content: "\f008";
    }
    &[aria-expanded="true"] .navbar-toggler-icon {
      background: $menu-mobile-background;

      &:after {
        content: "\e802";
        font-size: $menu-dropdown-size;
      }
    }

    &.collapsing[aria-expanded="false"] + nav.main-navbar,
    &[aria-expanded="true"] + nav.main-navbar {
      width: $navbar-mobile-sidebar-width !important;
      display: block;
    }
    &.collapsing[aria-expanded="true"] + nav.main-navbar {
      width: 0;
    }
  }

  header.header > nav.navbar-wrapper {
    nav.main-navbar {
      position: absolute;
      width: 0;
      right: 0;
      top: 100%;
      z-index: 10;
      background-color: $color-odysseus;
      height: calc(100vh - 100%) !important;
      align-items: start;
      transition: width $sidebar-animation-speed;

      .dropdown-menu {
        .we-mega-menu-li {
          a.we-mega-menu-li {
            padding-right: $mobile-sidebar-items-spacing/2;
          }

          span.d-submenu-toggler {
            @include mobile-toggle();
          }

          &.open {
            span.d-submenu-toggler {
              @include mobile-toggle-open;
            }
          }
        }
      }

      .navbar-inner {
        height: 100%;
        display: flex;
        overflow-y: auto;
        background-color: $color-odysseus;
        padding-bottom: $submenu-link-height;
      }

      &.show {
        width: $navbar-mobile-sidebar-width !important;
      }
    }

    // Mobile borders and order for some elements in the sidebar
    .region-primary-menu {
      border-bottom: $mobile-sidebar-items-border;
      padding-bottom: $mobile-sidebar-items-spacing;
      margin-top: 0;
    }
    .region-secondary-menu {
      flex-direction: column;

      nav ul li {
        width: 100%;
      }

      .block-search-page-link {
        border-top: $mobile-sidebar-items-border;
        border-bottom: $mobile-sidebar-items-border;
        margin: $mobile-sidebar-items-spacing 0 2*$mobile-sidebar-items-spacing;
        width: 100%;

        .content {
          display: flex;
          justify-content: center;

          a {
            width: 100%;
            mask-repeat: no-repeat;
            mask-position: center;
          }
        }
      }
    }
    .secondary-menu-region {
      order: 1;
    }

    // Blocks in megamenu.
    .navbar-we-mega-menu {
      .type-of-block {
        display: block;

        .block-inner {
          padding-left: $mobile-sidebar-submenu-spacing;
          padding-right: $mobile-sidebar-submenu-spacing;
          overflow: hidden;
        }

        h2 {
          font-size: 17px;
          font-weight: $mega-menu-submenu-font-weight;
          padding-top: $mobile-sidebar-submenu-spacing;

          &.field--name-field-d-main-title {
            margin-bottom: 0;
            padding: $mobile-sidebar-items-spacing/2 $mobile-sidebar-items-spacing/2 $mobile-sidebar-items-spacing/2 0px;

            @include mobile-toggle();

            &.open {
              @include mobile-toggle-open;
            }
          }

          & + .field-content-wrapper {
            padding-left: $mobile-sidebar-submenu-spacing;
            padding-top: 0;

            @include sublist-background();

            .field--name-field-d-long-text {
              display: none;
            }
          }
        }

        .field-content-wrapper {
          padding-top: $mobile-sidebar-submenu-spacing;

          .field--name-field-d-long-text {
            ul {
              padding-left: 0;
              li {
                @include sublist-list-item();
              }
            }
          }
        }

      }
      ul {
        &.subul {
          padding-left: $mobile-sidebar-submenu-spacing;
          padding-right: $mobile-sidebar-submenu-spacing;
          overflow: hidden;
        }

        li {
          width: 100%;
        }
      }
    }

    // Styling first level mega-menu items and secondary menu items.
    .we-mega-menu-ul.nav-tabs > .we-mega-menu-li,
    .menu--secondary-menu .nav-item {
      > a {
        text-transform: uppercase;
        font-size: $menu-font-size;
        line-height: $mega-menu-link-line-height;
        font-family: $mega-menu-submenu-font-family;
        padding: $mobile-sidebar-items-spacing/2 $mobile-sidebar-submenu-spacing;
        background-color: transparent;
        font-weight: $mega-menu-submenu-font-weight;
        color: $menu-main-link-active-color !important;
        text-shadow: none;
      }

      &.dropdown-menu {
        a.we-mega-menu-li {
          @include sublist-list-item();

          &::after {
            display: none;
          }
        }
      }

      &.active-trail,
      &.active {
        .we-mega-menu-submenu .we-mega-menu-submenu-inner {
          display: block;
        }
      }

      .we-mega-menu-submenu {
        display: block;

        .we-mega-menu-submenu-inner {
          display: none;
        }
      }

      > .we-mega-menu-submenu {
        background-color: $mega-menu-submenu-mobile-background-color
      }

      .we-mega-menu-li .we-mega-menu-submenu {
        display: block;

        @include sublist-background();
      }
    }
  }

  div#navbar-nav.collapsing,
  div#navbar-nav.show {
    .region-we-mega-menu {
      padding: 0;
    }
  }
}
