/*
Components Main menu

ul with main menu.

Markup:
<ul class="nav navbar-nav main-menu">
  <li class="nav-item active"><a href="/en/node/1" class="nav-link active is-active" data-drupal-link-system-path="node/1">Home</a> </li>
  <li class="nav-item"><a href="/node/2" class="nav-link">About</a></li>
  <li class="nav-item"><a href="/node/3" class="nav-link">Services</a></li>
  <li class="nav-item"><a href="/node/4" class="nav-link">Gallery</a></li>
  <li class="nav-item"><a href="/node/5" class="nav-link">Contact</a></li>
</ul>

Styleguide 2.1
*/

// Colour variables used in this component
$menu-main-link-color: $color-priam !default;
$menu-main-link-active-color: $color-achillies !default;
$menu-main-link-hover-color: $menu-main-link-active-color !default;
$menu-main-link-dropdown: $color-hector !default; // Dropdown icon

$submenu-link-color: $menu-main-link-color !default; // Submenu item text color
$submenu-link-hover-color: $color-achillies !default; // Submenu item hover color
$submenu-link-hover-background: transparent !default; // Submenu item hover color

$menu-mobile-background: $color-agamemnon !default;

$navbar-toggler-color: $color-agamemnon !default;
$navbar-toggler-sidebar-spacing: 10px;

$mega-menu-submenu-header-color: white !default;
$mega-menu-submenu-color: white !default;
$mega-menu-submenu-link-hover-color: darken($mega-menu-submenu-color, 25%) !default;
$mega-menu-submenu-background-color: $color-acamas !default;

// Font sizes
$menu-font-size: $font-size-lg !default;
$submenu-font-size: $font-size-base !default;
$menu-dropdown-size: 2.3rem !default; // Size of the dropdown arrow
$navbar-toggler-size: 2.3rem !default; // Size of the toggler arrow

$mega-menu-header-font-family: 'Lato', sans-serif !default;
$mega-menu-submenu-font-family: $mega-menu-header-font-family;
$mega-menu-submenu-font-weight: bold !default;
$mega-menu-submenu-font-size: 1rem !default;
$mega-menu-submenu-header-font-family: $mega-menu-submenu-font-family !default;
$mega-menu-submenu-header-font-weight: 400 !default;
$mega-menu-submenu-header-font-size: 25px !default;

// Paddings, margins and heights.
$menu-dropdown-width: 4rem !default;  // Width of desktop dropdown icon (desktop)
$menu-main-link-height: $header-height - (2 * $navbar-padding-y) !default;  // Height of menu item
$menu-main-link-padding-y: 0.75rem !default;
$navbar-toggler-width: 5.625rem !default; // Width of mobile menu on/off toggler
$navbar-toggler-height: $header-mobile-height !default; // Height of mobile menu on/off toggler
$submenu-offset-left: -1rem !default; // Move the submenu left or right (desktop)
$submenu-link-padding-x: 1.4rem !default; // Horizontal padding of submenu element (desktop)
$submenu-link-height: 2.9rem !default; // Height of links in submenu (desktop)


$mega-menu-submenu-padding: 2rem 15% !default;
$mega-menu-submenu-link-padding-y: 9px !default;
$mega-menu-submenu-header-margin-bottom: 2 * $mega-menu-submenu-link-padding-y !default;
$mega-menu-submenu-header-text-long-margin: 2 * $mega-menu-submenu-link-padding-y !default;

$sidebar-animation-speed: 100ms;

.navbar-inner {
  flex-direction: column;
  align-items: flex-end;
}

.navbar-we-mega-menu {
  @include media-breakpoint-up($navbar-mobile-breakpoint-up) {
    ul.we-mega-menu-ul {
      position: static;

      & > li.we-mega-menu-li,
      & > li.we-mega-menu-li.active-trail,
      & > li.we-mega-menu-li.active {
        background: transparent;
        a {
          background: transparent;
          text-transform: capitalize;
          padding-top: $menu-main-link-padding-y;
          padding-bottom: $menu-main-link-padding-y;
          font-family: $mega-menu-header-font-family;
        }
      }
      li.we-mega-menu-li:hover {
        background: transparent;
        a {
          color: $menu-main-link-hover-color;
        }
      }

      & > li.we-mega-menu-li:last-child {
        margin-right: -15px;
      }

      // Mega menu
      li.we-mega-menu-li.dropdown-menu.mega {
        position: static;

        & > .we-mega-menu-submenu {
          position: absolute;
          left: 1px;
          top: 100%;
          width: 100%;
          padding: $mega-menu-submenu-padding;
          background-color: $mega-menu-submenu-background-color;

          .block-inner {
            font-family: $mega-menu-submenu-font-family;
            font-weight: $mega-menu-submenu-font-weight;
            font-size: $mega-menu-submenu-font-size;
            color: $mega-menu-submenu-color;

            h2 {
              font-family: $mega-menu-submenu-header-font-family;
              font-weight: $mega-menu-submenu-header-font-weight;
              font-size: $mega-menu-submenu-header-font-size;
              color: $mega-menu-submenu-header-color;
              margin-bottom: $mega-menu-submenu-header-margin-bottom;
            }
            .field--type-text-long {
              h2 {
                margin-top: $mega-menu-submenu-header-text-long-margin;
              }
            }

            p {
              padding: 0 0 $mega-menu-submenu-link-padding-y 0;
              margin-bottom: 0;
            }

            ul, ul.nav {
              list-style-type: none;
              padding-left: 0;
              display: block;

              li, li.nav-item {
                padding: 0 0 $mega-menu-submenu-link-padding-y 0;

                a:hover {
                  background-color: transparent;
                  border: none;
                  color: $mega-menu-submenu-link-hover-color;
                }
              }

              li.nav-item a {
                border: none;
                font-family: $mega-menu-submenu-font-family;
                font-weight: $mega-menu-submenu-font-weight;
                color: $mega-menu-submenu-color;
                padding: 0;
              }
            }
          }
        }
      }

      // Normal dropdown
      li.we-mega-menu-li.dropdown-menu:not(.mega) {
        & > .we-mega-menu-submenu {
          padding: 0;
          margin-left: $submenu-offset-left;
          border-radius: 0;
          white-space: nowrap;

          // Submenu item
          li.we-mega-menu-li {
            padding: 0;
            width: 100%;
            &:active, &:hover, &.active:active, &.active:hover {
              background: $submenu-link-hover-background;
              > a.we-mega-menu-li {
                color: $submenu-link-hover-color;
                text-decoration: none;
              }
            }
            a.we-mega-menu-li {
              color: $submenu-link-color;
              font-size: $submenu-font-size;
              padding: 0 $submenu-link-padding-x;
              line-height: $submenu-link-height;
              background: transparent;
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}

button.navbar-toggler {
  display: none;
}

header.header > nav.navbar-wrapper {
  nav.main-navbar {
    position: static;
  }
}
@include media-breakpoint-down($navbar-mobile-breakpoint-down) {
  button.navbar-toggler {
    display: block;
    z-index: 100;
    width: $navbar-toggler-width;
    height: $navbar-toggler-height;
    padding: 0;
    border: none;
    border-radius: none;

    .navbar-toggler-icon {
      width: $navbar-toggler-width;
      height: $navbar-toggler-height;

      &:after {
        font-family: "fontello";
        color: $navbar-toggler-color;
        font-size: $navbar-toggler-size;
        line-height: $navbar-toggler-height;
        position: relative;
      }
    }

    &[aria-expanded="false"] .navbar-toggler-icon:after {
      content: "\f008";
    }
    &[aria-expanded="true"] .navbar-toggler-icon {
      background: $menu-mobile-background;

      &:after {
        color: $menu-main-link-dropdown;
        content: "\e806";
        font-size: $menu-dropdown-size;
      }
    }
  }

  button.navbar-toggler.collapsing[aria-expanded="false"] + nav.main-navbar,
  button.navbar-toggler[aria-expanded="true"] + nav.main-navbar {
    width: $navbar-mobile-sidebar-width !important;
    display: block;
  }
  button.navbar-toggler.collapsing[aria-expanded="true"] + nav.main-navbar {
    width: 0;
  }

  header.header > nav.navbar-wrapper {
    nav.main-navbar {
      position: absolute;
      width: 0;
      right: 0;
      top: 80px;
      z-index: 100;
      background-color: $color-odysseus;
      height: calc(100vh - 80px) !important;
      align-items: start;
      transition: width $sidebar-animation-speed;

      .navbar-inner {
        height: 100%;
        display: flex;
        overflow-y: auto;
        background-color: $color-odysseus;
      }

      &.show {
        width: $navbar-mobile-sidebar-width !important;
      }
    }

    .region-primary-menu {
      border-bottom: 1px solid red;
      padding-bottom: 10px;
    }
    .region-secondary-menu .block-search-page-link {
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      margin: 10px 0 20px;
      width: 100%;

      .content {
        display: flex;
        justify-content: center;

        a {
          width: 100%;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }
    }

    .secondary-menu-region {
      order: 1;
    }

    .region-secondary-menu {
      flex-direction: column;

      nav ul li {
        width: 100%;
      }
    }

    .navbar-we-mega-menu {
      .type-of-block {
        display: block;
      }
      ul li {
        width: 100%;
      }
    }

    .we-mega-menu-ul.nav-tabs > .we-mega-menu-li,
    .menu--secondary-menu .nav-item {
      width: 100%;

      > a {
        text-transform: uppercase;
        font-size: 16px;
        font-family: "Lato";
        padding: 15px;
        background-color: transparent;
        font-weight: normal;
        color: #de0000;
        text-shadow: none;
      }
      .we-mega-menu-submenu {
        position: relative;
        opacity: 1;
        display: none;
      }
    }

  }

  body.toolbar-fixed {
    nav.navbar-wrapper nav.main-navbar {
      .navbar-inner {
        padding-top: 50px;
      }
    }
  }

  div#navbar-nav.collapsing,
  div#navbar-nav.show {
    .region-we-mega-menu {
      padding: 0;
    }
  }
}
