{{ attach_library('droopler_theme/footer-primary-column') }}

{% set base_class = footer_primary_column_base_class|default('footer-primary-column') %}

<div {{ bem(base_class, [], '', ['col-6', 'col-md-3', 'col-lg-' ~ column_count]) }}>
  {% block content %}
  {% endblock %}
</div>
