{#
/**
 * @file
 * Droopler's theme implementation of the reusable footer include.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Regions:
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.footer_sixth: Items for the sixth footer column.
 *
 * @see:
 * - layout/page.html.twig
 */
#}
<footer class="site-footer">
  {% block footer %}
    <div class="container">
      {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="site-footer-blocks row">
          {% for i, region in filled_regions %}
            {% if filled_regions|length == i + 1 %}
              {% set classes = (i == 0 or i is odd) ? 'col' : ['col-6', 'col-xl'] %}
            {% else %}
              {% set classes = ['col-6', 'col-xl-2'] %}
            {% endif %}

            {% set footer_attributes = create_attribute() %}
            <div{{ footer_attributes.addClass(classes) }}>
              {{ page[region] }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endblock %}
  <div class="bottom-footer">
    {{ page.footer_main }}
  </div>
</footer>
