.d-p-tiles {
  text-align: center;

  .heading {
    margin-top: var(--content-spacer-s);
  }

  .cta-links {
    margin-top: var(--content-spacer-m);
  }

  .body-text {
    margin-bottom: var(--content-spacer-m);
  }
}
