@import 'config/all';

/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body {
  width: 640px;
}
.navigation,
#toolbar,
.site-footer,
.tabs,
.shortcut-action {
  display: none;
}
.featured-bottom {
  width: 960px;
  margin: 0;
  padding: 0;
  border: none;
}
.featured-bottom-first,
.featured-bottom-second,
.featured-bottom-third {
  width: 250px;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment-forbidden {
  display: none;
}
