// Main config files.
//
//  This section contain base variable and mixines.
//
// Styleguide 1.0

// Theme configuration.
@import 'config/all';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import 'mixins/fonts';
@import 'mixins/title';

// Fonts.
@import 'fonts/social_media';

// Layout.
@import 'layout/global';
@import 'layout/modifiers';

// Components
//
//  This section contain components class and mixines.
//
// Styleguide 2.0

@import 'barrio/breadcrumb';
@import 'barrio/contextual';
@import 'barrio/feed-icon';
@import 'barrio/field';
@import 'barrio/form';
@import 'barrio/header';
@import 'barrio/help';
@import 'barrio/icons';
@import 'barrio/image-button';
@import 'barrio/item-list';
@import 'barrio/list-group';
@import 'barrio/node-preview';
@import 'barrio/node';
@import 'barrio/search-form';
@import 'barrio/search-results';
@import 'barrio/shortcut';
@import 'barrio/site-footer';
@import 'barrio/skip-link';
@import 'barrio/table';
@import 'barrio/ui.widget';
@import 'barrio/tabs';
@import 'barrio/textarea';
@import 'barrio/user';
@import 'barrio/views';
@import 'barrio/ui-dialog';
@import 'components/decorations';
@import 'components/buttons.scss';
@import 'components/forms';
@import 'components/pager';
@import 'components/alerts';


// Menu Frontend
//
@import 'menu/menu_variables';
@import 'menu/menu_design';
@import 'menu/menu_mixins';
@import 'menu/menu_layout';

// Paragraphs
//
//
// Styleguide components.d_p
@import 'components/d_lang-dropdown';
@import 'components/d_media';
@import 'components/d_p_banner';
@import 'components/d_p_carousel';
@import 'components/d_p_cta_link';
@import 'components/d_p_counters';
@import 'components/d_p_form';
@import 'components/d_p_gallery';
@import 'components/d_p_reference_content';
@import 'components/d_p_side_embed';
@import 'components/d_p_side_image';
@import 'components/d_p_side_tiles';
@import 'components/d_p_subscribe';
@import 'components/d_p_text_blocks';
@import 'components/d_p_text_paged';
@import 'components/d_p_text_with_bckg';
@import 'components/d_p_tiles';
@import 'components/d_blog';
@import 'components/d_blog_listing';
@import 'components/d_products';
@import 'components/d_products_slider';
@import 'components/d_product_page';
@import 'components/d_p_node';
@import 'components/d_p_side_by_side';
@import "components/_d_search_blocks";
@import "components/geysir_overrides";
@import "components/slick-theme";

// Layouts.
//
//  This section contain Layouts class.
//
// Styleguide 3.0

@import 'layout/header';
@import 'layout/footer';
@import 'layout/bottom_footer';
@import 'layout/download_page';
