{% if links %}
  <div class='social-media-wrapper'>
    <div class='icons-wrapper'>
      <ul>
      {% for link in links %}
        <li><a href='{{ link.link }}' class='icon icon-{{ link.name }}' target="_blank" aria-label="{{ link.name }}"></a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
