{% if show %}
  <div class='social-media-wrapper'>
    <div class='follow-us'>Follow us</div>
    <div class='icons-wrapper'>
      {% for link in links %}
        <a href='{{ link.link }}' class='icon icon-{{ link.name }}'></a><span> | </span>
      {% endfor %}
    </div>
    <div class='email'>
      info@droopler.com
    </div>
  </div>
{% endif %}
