{% if show %}
  {{ attach_library('d_social_media/last-element-in-a-row') }}

  <div class='social-media-wrapper'>
    <div class='follow-us'>Follow us</div>
    <div class='icons-wrapper'>
      <ul>
      {% for link in links %}
        <li><a href='{{ link.link }}' class='icon icon-{{ link.name }}' target="_blank"></a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='email'>
      info@droopler.com
    </div>
  </div>
{% endif %}

