<div class='social-media-wrapper'>
  <div class='follow-us'>Follow us</div>
  <div class='icons-wrapper'>
    <a href='#' class='icon icon-facebook-rect'></a><span> | </span>
    <a href='#' class='icon icon-twitter-bird'></a><span> | </span>
    <a href='#' class='icon icon-youtube'></a><span> | </span>
    <a href='#' class='icon icon-instagram'></a><span> | </span>
    <a href='#' class='icon icon-linkedin-rect'></a>
  </div>
  <div class='email'>
    info@droopler.com
  </div>
</div>
