@font-face {
  font-family: 'fontello';
  src: url($theme_path + '/fonts/fontello/fontello.eot'); /* IE9 Compat Modes */
  src: url($theme_path + '/fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url($theme_path + '/fonts/fontello/fontello.woff2') format('woff2'), /* Super Modern Browsers */
  url($theme_path + '/fonts/fontello/fontello.woff') format('woff'), /* Pretty Modern Browsers */
  url($theme_path + '/fonts/fontello/fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
  url($theme_path + '/fonts/fontello/fontello.svg#svgFontName') format('svg'); /* Legacy iOS */
}
