<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en" dir="ltr" version="HTML+RDFa 1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
<head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    body {
      font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    }
    h1 {
      font-size:20px;
    }
    .content {
      width: 400px;
      margin:0 auto;
      display: block;
    }
    .btn-orange {
      background: #ec6d06;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      min-width: 296px;
      text-decoration: none;
      display: table;
      cursor: pointer;
      text-align: center;
      border-radius: 0;
      border-color: #d36205;
      padding: 16px;
      margin: 16px auto;
    }
  </style>
</head>
<body>

<div class="content">
  <p{{ body }}</p>
</div>
