:root {
  --divider-display: inline-block;
  --divider-width: 3.125rem;
  --divider-height: 0.125rem;
  --divider-margin-top: 1.375rem;
  --divider-margin-bottom: 1.51rem;
  --divider-first-child-display: none;
  --divider-last-child-display: none;
}

.divider {
  display: var(--divider-display);
  width: var(--divider-width);
  height: var(--divider-height);
  margin-top: var(--divider-margin-top);
  margin-bottom: var(--divider-margin-bottom);
  background-color: var(--divider-background-color);

  &:first-child {
    display: var(--divider-first-child-display);
  }

  &:last-child {
    display: var(--divider-last-child-display);
  }
}
