/*
Components Main menu

ul with main menu.

Markup:
<ul class="nav navbar-nav main-menu">
  <li class="nav-item active"><a href="/en/node/1" class="nav-link active is-active" data-drupal-link-system-path="node/1">Home</a> </li>
  <li class="nav-item"><a href="/node/2" class="nav-link">About</a></li>
  <li class="nav-item"><a href="/node/3" class="nav-link">Services</a></li>
  <li class="nav-item"><a href="/node/4" class="nav-link">Gallery</a></li>
  <li class="nav-item"><a href="/node/5" class="nav-link">Contact</a></li>
</ul>

Styleguide 2.1
*/

// Colour variables used in this component
$menu-main-link-color: $color-cassandra !default;
$menu-main-link-active-color: $color-achillies !default;
$menu-main-link-hover-color: $menu-main-link-active-color !default;
$menu-main-link-dropdown: $color-hector !default; // Dropdown icon

$submenu-link-color: $color-odysseus !default; // Submenu item text color
$submenu-link-hover-color: $color-achillies !default; // Submenu item hover color
$submenu-link-hover-background: transparent !default; // Submenu item hover color

$menu-mobile-background: transparent !default;

$navbar-toggler-color: $color-agamemnon !default;
$mobile-sidebar-items-border: 2px solid $color-iphis !default;

$mega-menu-submenu-header-color: white !default;
$mega-menu-submenu-color: $color-odysseus !default;
$mega-menu-submenu-link-hover-color: $color-achillies !default;
$mega-menu-submenu-background-color: $color-acamas !default;
$mega-menu-submenu-mobile-background-color: rgba($color-cassandra, 0.1) !default;
$mobile-navigation-overlay-color: rgba($color-cassandra, 0.2) !default;

// Font sizes
$menu-font-size-mobile: $font-size-lg !default;
$menu-font-size-desktop: $font-size-base !default;
$submenu-font-size: $font-size-base !default;
$menu-dropdown-size: 2.3rem !default; // Size of the dropdown arrow
$navbar-toggler-size: 2.3rem !default; // Size of the toggler arrow

$mega-menu-header-font-family: 'Lato', sans-serif !default;
$mega-menu-submenu-font-family: $mega-menu-header-font-family !default;
$mega-menu-submenu-font-weight: normal !default;
$mega-menu-submenu-font-size: 1rem !default;
$mega-menu-submenu-header-font-family: $mega-menu-submenu-font-family !default;
$mega-menu-submenu-header-font-weight: 400 !default;
$mega-menu-submenu-header-font-size: 25px !default;
$mega-menu-link-line-height: 2rem !default;

// Paddings, margins and heights.
$menu-dropdown-width: 4rem !default;  // Width of desktop dropdown icon (desktop)
$menu-main-link-height: $header-height - (2 * $navbar-padding-y) !default;  // Height of menu item
$menu-main-link-padding-y: 0.75rem !default;
$menu-main-link-padding-desktop: 0 1.5625rem !default;
$menu-main-link-padding-tablet: 0 1.2rem !default;
$menu-secondary-link-padding-x-tablet: 0.9rem !default;
$menu-secondary-social-icon-padding-tablet: 7px !default;
$navbar-toggler-width: 5.625rem !default; // Width of mobile menu on/off toggler
$navbar-toggler-height: $header-mobile-height !default; // Height of mobile menu on/off toggler
$navbar-toggler-sidebar-spacing: 10px !default;
$submenu-offset-left: -1rem !default; // Move the submenu left or right (desktop)
$submenu-link-padding-x: 1.4rem !default; // Horizontal padding of submenu element (desktop)
$submenu-link-height: 2.9rem !default; // Height of links in submenu (desktop)
$mobile-sidebar-items-spacing: 10px !default;
$mobile-sidebar-submenu-spacing: 15px !default;

$secondary-menu-link-colors: $color-iphis !default;
$secondary-menu-link-hover-colors: $color-achillies !default;

$mega-menu-submenu-padding: 2rem 15% !default;
$mega-menu-submenu-link-padding-y: 9px !default;
$mega-menu-submenu-header-margin-bottom: 2 * $mega-menu-submenu-link-padding-y !default;
$mega-menu-submenu-header-text-long-margin: 2 * $mega-menu-submenu-link-padding-y !default;

$sidebar-animation-speed: 600ms !default;

@mixin mobile-toggle() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
  cursor: pointer;
  //line-height: inherit;


  &::after {
    font-family: "fontello";
    content: "\e80d";
    padding: 0 10px;
    line-height: initial;
  }
}
@mixin mobile-toggle-open() {
  &::after {
    content: "\e809";
  }
}
@mixin sublist-background() {
  position: relative;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $mega-menu-submenu-mobile-background-color;
    left: -50%;
    top: 0;
    z-index: 0;
  }
  &::after {
    left: 50%;
  }
}
@mixin sublist-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      border: none;
      color: $menu-main-link-active-color;
    }
  }
}
@mixin mobile-menu-first-level-items {
  text-transform: uppercase;
  font-size: $menu-font-size-mobile;
  line-height: $mega-menu-link-line-height;
  font-family: $mega-menu-submenu-font-family;
  padding: $mobile-sidebar-items-spacing/2 $mobile-sidebar-submenu-spacing;
  font-weight: $mega-menu-submenu-font-weight;
  color: $menu-main-link-active-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-inner {
  flex-direction: column;
  align-items: flex-end;
}

button.navbar-toggler {
  display: none;
}

header.header > nav.navbar-wrapper {
  nav.main-navbar {
    position: static;
  }
}

// Styling first level mega-menu items and secondary menu items.
.we-mega-menu-ul > li.we-mega-menu-li{
  > a, > span {
    @include mobile-menu-first-level-items;

    @include media-breakpoint-up($navbar-mobile-breakpoint-up) {
      padding: $menu-main-link-padding-desktop;
      line-height: $submenu-link-height;
      color: $menu-main-link-color;
      text-transform: capitalize;
      font-weight: 700;
      font-size: $menu-font-size-desktop;
    }
  }

  @include media-breakpoint-up($navbar-mobile-breakpoint-up) {
    &:hover {
      &, > a, > span {
        color: $menu-main-link-hover-color;
      }
    }
  }
}
.secondary-menu-region {
  li.nav-item > a {
    @include media-breakpoint-down($navbar-mobile-breakpoint-down) {
      @include mobile-menu-first-level-items;
    }
  }

  a {
    color: $secondary-menu-link-colors;

    &:hover {
      color: $secondary-menu-link-hover-colors;
    }
  }
  @include media-breakpoint-up($navbar-mobile-breakpoint-up) {
    .menu--secondary-menu .nav-item a {
      padding: $menu-main-link-padding-desktop;
      line-height: $submenu-link-height;
    }
  }

  .social-media-wrapper {
    ul {
      padding: 0;
      li {
        &::after {
          display: none;
        }
        a::before {
          margin: 0;
        }
      }
    }
  }
}

// Mega menu
.type-of-block {
  .block-inner {

    @include media-breakpoint-down($navbar-mobile-breakpoint-down) {
      padding-left: $mobile-sidebar-submenu-spacing;
      padding-right: $mobile-sidebar-submenu-spacing;

      h2 + .field-content-wrapper {
        padding-left: $mobile-sidebar-submenu-spacing;
        padding-top: 0;

        @include sublist-background();
      }

      .field-content-wrapper {
        padding-top: $mobile-sidebar-submenu-spacing;

        .field--name-field-d-long-text {
          ul {
            padding-left: 0;
            li {
              @include sublist-list-item();
            }
          }
        }
      }
      ul {
        &.subul {
          padding-left: $mobile-sidebar-submenu-spacing;
          padding-right: $mobile-sidebar-submenu-spacing;
          overflow: hidden;
        }

        li {
          width: 100%;
        }
      }
    }

    h2 {
      font-size: $submenu-font-size;
      font-weight: $mega-menu-submenu-header-font-weight;
      padding-top: $mobile-sidebar-submenu-spacing;

      @include media-breakpoint-up($navbar-mobile-breakpoint-up) {
        font-size: $mega-menu-submenu-header-font-size;
        color: $mega-menu-submenu-header-color;
        text-transform: uppercase;
        margin-bottom: $mega-menu-submenu-header-margin-bottom;
        padding-top: 0;
      }
    }

    p {
      padding: $mega-menu-submenu-link-padding-y 0;
      margin-bottom: 0;
    }

    ul, ul.nav {
      list-style-type: none;
      padding-left: 0;
      display: block;

      li, li.nav-item {
        padding: 0 0 $mega-menu-submenu-link-padding-y 0;
      }
    }
  }
}


@include media-breakpoint-up($navbar-mobile-breakpoint-up) {
  .navbar-we-mega-menu {
    ul.we-mega-menu-ul {
      & > li.we-mega-menu-li:last-child {
        margin-right: -15px;
      }



      // Normal dropdown
      li.we-mega-menu-li.with-submenu:not(.mega) {
        & > .we-mega-menu-submenu {
          margin-left: $submenu-offset-left;
          white-space: nowrap;

          // Submenu item
          li.we-mega-menu-li.with-submenu {
            > a.we-mega-menu-li,
            > span.we-megamenu-nolink {
              //&::after {
              //  color: $submenu-link-color;

              .d-submenu-toggler {
                @include mobile-toggle;
                margin-right: -15px;
              }

                //content: "\e805";
                //font-family: fontello;
                ////background: none;
                ////transform: none;
                //margin-top: 0;
                ////position: initial;
                ////top: unset;
                //opacity: 1;
                //padding: 0;
                //display: flex;
                ////width: unset;
                //font-size: inherit;
                ////height: unset;
              //}
            }
          }
        }
      }
    }

  }
}

@include media-breakpoint-only(lg) {
  .secondary-menu-region,
  .region-primary-menu {
    a.nav-link {
      padding-left: $menu-secondary-link-padding-x-tablet;
      padding-right: $menu-secondary-link-padding-x-tablet;
    }
    .we-mega-menu-li {
      > a.we-mega-menu-li,
      > span.we-megamenu-nolink {
        padding: $menu-main-link-padding-tablet;
      }
    }
    .social-media-wrapper .icons-wrapper {
      a.icon {
        font-size: 115%;
        padding: $menu-secondary-social-icon-padding-tablet;
      }
    }
  }
}

@include media-breakpoint-down($navbar-mobile-breakpoint-down) {

  header.header > nav.navbar-wrapper {

    // Blocks in megamenu.
    .navbar-we-mega-menu {
      .type-of-block {


        h2 {
          //font-size: 17px;
          //font-weight: $mega-menu-submenu-font-weight;
          //

          //&.field--name-field-d-main-title {
          //  margin-bottom: 0;
          //  padding: $mobile-sidebar-items-spacing/2 $mobile-sidebar-items-spacing/2 $mobile-sidebar-items-spacing/2 0px;
          //}
        }

      }
    }
  }

  div#navbar-nav.collapsing,
  div#navbar-nav.show {
    .region-we-mega-menu {
      padding: 0;
    }
  }
}

