
li.we-mega-menu-li {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;

  &.mega {
    position: static;
  }
}

a.we-mega-menu-li,
span.we-mega-menu-nolink {
  text-decoration: none;
}

.we-mega-menu-li {
  margin: 0;

  &.with-submenu {
    top: initial;
    display: flex;
    flex-direction: column;

    &.active-trail {
      > .we-mega-menu-submenu > .we-mega-menu-submenu-inner {
        display: block;
      }
    }
  }
  .we-mega-menu-li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@include media-breakpoint-down($navbar-mobile-breakpoint-down) {
  nav.main-navbar .navbar-inner {
    overflow: hidden;
  }

  .type-of-block {
    h2 + .field-content-wrapper {
      @include sublist-background();

      & > * {
        display: none;
      }
    }

    &.active-trail {
      .field-content-wrapper > * {
        display: block;
      }
    }
  }

  .we-mega-menu-submenu {
    @include sublist-background();

    .we-mega-menu-submenu-inner {
      display: none;
    }

    .we-mega-menu-submenu {
      top: 0;
    }
  }

  .type-of-block,
  .with-submenu {
    .field--name-field-d-main-title,
    span.d-submenu-toggler {
      @include mobile-toggle;
    }

    .field--name-field-d-main-title.open,
    &.open, .open {
      &, span.d-submenu-toggler {
        @include mobile-toggle-open;
      }
    }
  }
}

@include media-breakpoint-up($navbar-mobile-breakpoint-up) {
  .we-mega-menu-submenu {
    position: absolute;
    top: 100%;
    display: none;
    padding: 0;
    background-color: $mega-menu-submenu-background-color;
    color: $mega-menu-submenu-color;
    font-family: $mega-menu-submenu-font-family;
    font-weight: $mega-menu-submenu-font-weight;
    border: none;

    .we-mega-menu-submenu {
      left: 100%;
      top: 0;
      padding: 0;
    }

    a,
    span.we-mega-menu-nolink {
      color: $mega-menu-submenu-color;

      &:hover {
        color: $menu-main-link-hover-color;
        text-decoration: none;
      }
    }

    .mega > & {
      left: 0;
      width: 100%;
    }

    .mega > & {
      padding: $mega-menu-submenu-padding;
    }
  }

  .we-mega-menu-li {
    > a {
      padding: $menu-main-link-padding-desktop;
      line-height: $submenu-link-height;
    }

    &:hover {
      > .we-mega-menu-submenu {
        display: block;
        z-index: 1;
      }
    }
  }

  // This includes creation of grid for megamenu col classes: "span3"
  @include views-grid();
}

