@import "../../bootstrap/variables";

$slick-font-path: "./fonts/" !default;
$slick-font-family: "fontello" !default;
$slick-loader-path: "../../" !default;
$slick-arrow-color: $black !default;
$slick-prev-character: "\e818" !default;
$slick-next-character: "\e819" !default;
$slick-dot-character: "\f111" !default;
