{#
/**
 * @file
 * Theme override to display a blog list view.
 *
 * @see template_preprocess_page()
 */
#}

{% extends "page.html.twig" %}

{% block content %}
  {% include "@droopler_theme/misc/listing-header.html.twig" with {
    'header_class': 'blog-header-wrapper',
    'title': page['#title']
  } %}

  <div{{ main_attributes }}>
    <div class="row clearfix">
      {{ page.breadcrumb }}
      <main class="main-content">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          {{ page.content | without('pagetitle') }}
        </section>
      </main>
    </div>
  </div>
{% endblock %}
