{#
/**
 * @file
 * Theme override to display a blog list view.
 *
 * @see template_preprocess_page()
 */
#}

{% extends "page.html.twig" %}

{% block content %}
  <div{{ main_attributes.addClass('container-fluid').removeClass('container', 'py-4') }}>
    <div class="row clearfix">
      {{ page.breadcrumb }}
      <main class="main-content">

        <div class="main-header-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="blog-listing-main-header">{{ page['#title'] }} </h1>
              </div>
            </div>
          </div>
        </div>

        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </section>
      </main>
    </div>
  </div>
{% endblock %}
