:root {
  --cta-width: 100%;
  --cta-max-width: 18rem;
  --cta-margin-top-bottom: 0.25rem;
  --cta-font-weight: 500;
  --cta-letter-spacing: 0;
  --cta-text-transform: none;
}

.btn {
  &-primary {
    --#{$prefix}btn-color: #{$color-odysseus};
    --#{$prefix}btn-hover-color: #{$color-odysseus}
  }
  &-secondary,
  &-outline-secondary {
    --#{$prefix}btn-color: #{$color-agamemnon};
    --#{$prefix}btn-hover-color: #{$color-agamemnon}
  }
}

[data-theme="theme-dark"],
[data-theme="theme-primary"] {
  .btn-outline-primary {
    --#{$prefix}btn-color: #{$color-odysseus};
    --#{$prefix}btn-hover-color: #{$color-odysseus}
  }
}

.btn-primary {
  @include button-variant(
    $color-achilles,
    $color-achilles,
    $color-odysseus,
    darken($color-achilles, 10%),
    darken($color-achilles, 10%)
  );
}

.btn-link {
  padding: 0;

  &:hover {
    text-decoration: underline;
  }

  @include button-variant(
    transparent,
    transparent,
    $color-achilles,
    transparent,
    transparent,
    darken($color-achilles, 10%)
  );
}