@import "variables/spacers";

// Top.
.margin-top-none {
  margin-top: var(--block-spacer-none);
}

.margin-top-small {
  margin-top: var(--block-spacer-s);
}

.margin-top-medium {
  margin-top: var(--block-spacer-m);
}

.margin-top-large {
  margin-top: var(--block-spacer-l);
}

.margin-top-extra-large {
  margin-top: var(--block-spacer-xl);
}

// Bottom.
.margin-bottom-none {
  margin-bottom: var(--block-spacer-none);
}

.margin-bottom-small {
  margin-bottom: var(--block-spacer-s);
}

.margin-bottom-medium {
  margin-bottom: var(--block-spacer-m);
}

.margin-bottom-large {
  margin-bottom: var(--block-spacer-l);
}

.margin-bottom-extra-large {
  margin-bottom: var(--block-spacer-xl);
}
