@font-face {
  font-family: 'social_media';
  src: url('social_media.eot');
  src: url('social_media.eot?#iefix') format('embedded-opentype'),
  url('social_media.woff2') format('woff2'),
  url('social_media.woff') format('woff'),
  url('social_media.ttf')  format('truetype'),
  url('social_media.svg#svgFontName') format('svg');
}
