.path-search {
  .search-form {
    --cta-width: auto;

    @include media-breakpoint-up(sm) {
      > .container-inline {
        display: flex;
        margin-bottom: var(--content-spacer-s);

        .form-item {
          flex: 1;
          margin-bottom: 0;
          margin-right: 10px;

          input {
            padding: 1rem 1.5rem;
          }
        }

        .form-submit {
          margin-top: 28px;
        }
      }
    }

    + h2 {
      margin-bottom: var(--content-spacer-m);
      margin-top: var(--content-spacer-l);
    }

    ~ ul,
    ~ ol {
      padding-left: 1rem;

      li {
        &::marker {
          font-size: 1.5rem;
          color: var(--dp-bs-link-color);
        }
      }
    }

    ~ ul {
      li {
        margin: 0;
        padding: 0.2em 0.5em 0 0;
      }
    }

    ~ ol {
      li:not(:last-child) {
        border-bottom: 1px solid var(--search-results-list-item-border);
        padding-bottom: var(--content-spacer-s);
        margin-bottom: var(--content-spacer-s);
      }
    }
  }
}
