/**
 * @file
 * Visual styles for Bartik's search results.
 */
.search-form {
  margin-bottom: 20px;
  & > .container-inline {
    display: flex;
    margin-bottom: 1rem;

    .form-type-search {
      flex: 1;
      margin-bottom: 0;
      margin-right: 10px;
    }
    button {
      margin-top: 30px;
      @include media-breakpoint-down(md) {
        width: auto;
      }
    }
  }
}
.search-results {
  padding: 0 0 0 1rem;

  li {
    border-bottom: 1px solid #d3d7d9;
    padding-bottom: 0.4285em;
    margin-bottom: 0.5em;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 1em;
    }
  }
}
.search-result {
  &__title {
    font-weight: bold;
  }
  &__snippet-info {
    padding-left: 0; /* LTR */
  }
}
[dir="rtl"] .search-result {
  &__snippet-info {
    padding-right: 0;
  }
}
