{#
/**
* @file
* A large header with background used in listings (like blog and product lists).
*
* Variables:
* - header_class: the main class of the header, mentioned in SCSS selector.
* - title: the title to show.
*/
#}

{% set header_attributes = create_attribute() %}

<div{{ header_attributes.addClass(header_class) }}>
  <div class="container">
    <div class="row clearfix">
      <div class="col-12">
        <h1 class="main-header">{{ title }} </h1>
      </div>
    </div>
  </div>
</div>
