// Paddings and margins.
$button-max-width: 18rem !default; // Minimum width of the button (desktop)

@mixin make-btn() {
  @include font-button;
  cursor: pointer;
  max-width: $button-max-width;
  width: 100%;
}
