//Styles for the menu placed after the main footer.

//Color variables used in this component.
$after-footer-background-color: $color-hecuba !default;
$after-footer-text-color: $color-odysseus !default;

.after-footer {

  //Menu block from d_demo
  .region-footer-main {
    background-color: $after-footer-background-color;

    ul.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      margin: 0 auto;
      list-style: none;

      li {
        a {
          font-size: 1rem;
          font-weight: bold;
          color: $after-footer-text-color;
        }
      }
    }
  }
}
