// Global.
//
// Styleguide 3.1

// Paddings, margins and heights.

#main {
  margin-top: 0;
  .node__content {
    margin-top: 0;
  }
}
.page-wrapper {
  min-width: $page-min-width;
  img {
    max-width: 100%;
    height: auto;
  }
  main.main-content {
    width: 100%;
  }
  h1 {
    @include font-main-header-big;
  }
  h2 {
    @include font-main-header;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-header;
    font-weight: $font-header-weight;
  }
  p, ul, ol {
    @include font-body-standard;
  }
  a:not(.btn) {
    word-wrap: break-word;
    hyphens: auto;
  }
  div.field--name-field-d-main-title {
    line-height: $headings-line-height;
  }
}
.no-padding {
  padding: 0;
  @include media-breakpoint-down(sm) {
    &-sm {
      padding: 0;
    }
  }
  @include media-breakpoint-down(md) {
    &-md {
      padding: 0;
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.row::before, .row::after {
  width: 0px;
  height: 0px;
}

.paragraph {
  color: $color-hecuba;

  b, strong {
    color: $color-troilus;
  }
}

.header-section {
  article {
    .paragraph-sections {
      section {
        .paragraph {
          @include media-breakpoint-down($navbar-mobile-breakpoint-down) {
            &--type--d-p-side-image,
            &--type--d-p-side-embed {
              padding-top: 0;
            }
          }

          @include media-breakpoint-between(md, $navbar-mobile-breakpoint-down) {
            &--type--d-p-side-image,
            &--type--d-p-side-embed {
              .content-inside-wrapper {
                padding-top: 15%;
              }
            }
          }
        }
      }
    }
  }
}

.landing-page-header {
  position: relative;

  .hanging-header {
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 20px;
    left: 0;
    right: 0;
    padding-bottom: 20px;
  }

  .d-content-cta-wrapper {
    &, .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
