// Header
$header-height: 6rem !default; // Top navbar height. Increase it if your logo is tall
$header-mobile-height: 5rem !default; // Top navbar height. Increase it if your logo is tall
//Admin toolbar
$admin-toolbar-height: 39px !default; // Height of administration toolbar for logged in user.
// Global
$page-min-width: 320px !default; // Minimum page width in pixels

$navbar-mobile-breakpoint-up: lg !default;
$navbar-mobile-breakpoint-down: md !default;

$navbar-mobile-sidebar-width: 265px !default;
