// Header
$header-height: 6rem !default; // Top navbar height. Increase it if your logo is tall
$header-mobile-height: 4.5rem !default; // Top navbar height. Increase it if your logo is tall

// Global
$page-min-width: 320px !default; // Minimum page width in pixels
