// This file contains variables from older Droopler version.

$white: #fff !default;
$black: #000 !default;

$color-agamemnon: #196dba !default;
$color-menelaus: #5d98ce !default;
$color-nestor: #65e2ff !default;
$color-odysseus: white !default;
$color-diomedes: #d3d7d9 !default;
$color-patroclus: #979797 !default;
$color-thersites: #dee2e6 !default;

$color-priam: #7a7a7a !default;
$color-hecuba: #727272 !default;
$color-troilus: #4c4c4c !default;
$color-acamas: #262626 !default;
$color-cassandra: black !default;
$color-andromache: #d2d2d2 !default;
$color-aeneas: #8e8a89 !default;
$color-penthesilea: #969696 !default;
$color-leto: #f1f1f1 !default;
$color-serpedon: #39b54a !default;

$color-hector: #d3d3d3 !default;
$color-achillies: #ec6d06 !default;
$color-helen: #ac0000 !default;
$color-paris: #e4e4e4 !default;
$color-iphis: #ababab !default;

$link-color: $color-agamemnon !default;
$link-hover-color: darken($link-color, 5%) !default;
