$theme_path: '/profiles/contrib/droopler/themes/custom/droopler_theme' !default;
$subtheme_path: '/themes/custom/droopler_subtheme' !default;
$lato-font-path: '/libraries/lato-webfont/fonts' !default;
