{{ attach_library('droopler_theme/cta') }}

{% set base_class = cta_base_class|default('btn') %}

<a {{ bem(base_class, [], '', [base_class ~ '-' ~ type]) }} href="{{ url }}" role="button">
  {{ title }}
</a>
