.container.d-p-group-of-text-blocks {
  width: 100%;
  max-width: 100%;
}
.single-boxes-wrapper .single-box-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}
.single-boxes-wrapper .single-box-wrapper:first-child {
 padding-left: 0;
}
.single-boxes-wrapper .single-box-wrapper:last-child {
 padding-right: 0;
}
.single-boxes-wrapper .single-box-wrapper .d-p-text-block {
  padding: 20px;
}
