.toolbar .toolbar-icon-d-update-admin-update:before {
  background-image: url('alert.svg');
  left: 50% !important;
  transform: translateX(-50%);
}
.toolbar .toolbar-icon-d-update-admin-update {
  text-indent: -9999px;
}
