{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
  <div{{ paragraph_attributes.addClass(classes) }}>
    {% block component_content %}
    {% endblock %}

    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
