// :root {
//   --block-spacer-none: 0;
//   --block-spacer-s: 2%;
//   --block-spacer-m: 5%;
//   --block-spacer-l: 10%;
//   --block-spacer-xl: 18%;
//   --content-spacer-none: 0;
//   --content-spacer-xs: 0.5rem;
//   --content-spacer-s: 1rem;
//   --content-spacer-m: 1.5rem;
//   --content-spacer-l: 2.5rem;
//   --content-spacer-xl: 3.5rem;
//   --content-spacer-xxl: 4.5rem;
//   --content-spacer-xxxl: 5.5rem;
// }
