// :root {
//   // Base component: Divider.
//   --divider-display: inline-block;
//   --divider-width: 3.125rem;
//   --divider-height: 0.125rem;
//   --divider-margin-top: 1.375rem;
//   --divider-margin-bottom: 1.51rem;
//   --divider-first-child-display: none;
//   --divider-last-child-display: none;

//   // Base component: CTA.
//   --cta-width: 100%;
//   --cta-max-width: 18rem;
//   --cta-margin-top-bottom: 0.25rem;
//   --cta-font-weight: 500;
//   --cta-letter-spacing: 0;
//   --cta-text-transform: none;

//   // Base component: Media.
//   --media-width: auto;
//   --media-height: auto;
//   --media-img-display: block;
//   --media-img-width: auto;
//   --media-img-height: auto;
//   --media-overlay-background-color: rgb(0 0 0 / 20%);
//   --media-overlay-opacity: 0.2;

//   // Base component: Media icon.
//   --media-icon-display: flex;
//   --media-icon-align-items: center;
//   --media-icon-justify-content: center;

//   // Base component: Overlay.
//   --overlay-display: block;
//   --overlay-width: 100%;
//   --overlay-height: 100%;
//   --overlay-opacity: 0.8;

//   // Base component: Heading.
//   --heading-margin: 0;
//   --heading-text-transform: none;

//   // Base component: Subtitle.
//   --subtitle-margin: 0;
//   --subtitle-font-size: 1.125rem;
//   --subtitle-font-weight: normal;
//   --subtitle-text-transform: none;

//   // Base component: Body text.
//   --body-text-font-size: 1rem;
//   --body-text-font-size-mobile: 0.875rem;
//   --body-text-table-cell-padding: 0.75rem;
//   --body-text-table-border-width: 2px;

//   // Page element: Header.
//   --header-height-mobile: 5rem;

//   // Page element: Hamburger.
//   --hamburger-width: 2rem;
//   --hamburger-height: 1.8rem;
//   --hamburger-line-height: 0.4rem;

//   // Page element: Navigation mobile.
//   --navigation-mobile-level: 1;
//   --navigation-mobile-item-indentation-horizontal: 1rem;
//   --navigation-mobile-item-indentation-vertical: 0.35rem;

//   // Page element: Social media list and social media item.
//   --social-media-list-justify-content: center;
//   --social-media-list-margin-left: 0;
//   --social-media-item-padding: 1rem;
//   --social-media-item-border-width: 1px;
//   --social-media-item-font-size: 2rem;
//   --social-media-item-margin-left: 0;

//   // Page element: Footer.
//   --footer-primary-padding-top: 3rem;
//   --footer-primary-padding-bottom: 3rem;

//   // Page element: Product teaser.
//   --product-teaser-image-height: 135px;

//   // Page element: Subscribe file download.
//   --subscribe-file-download-page-padding: var(--content-spacer-xl) 0 0;
//   --subscribe-file-download-page-text-align: center;
//   --subscribe-file-download-page-btn-margin: var(--content-spacer-xl) auto;

//   // Component: Carousel and carousel item.
//   --slick-arrow-size: 40px;
//   --slick-arrow-opacity: 0.2;
//   --slick-arrow-hover-opacity: 0.3;
//   --slick-arrow-disabled-opacity: 0.1;
//   --slick-arrow-position-mobile: 0;
//   --slick-arrow-position-desktop: calc((45px - (3rem * 0.5)) * -1);
//   --slick-arrow-position-desktop-full-width: calc(45px - (3rem * 0.5));

//   --carousel-item-text-align: center;
//   --carousel-item-media-icon-height: 100px;
//   --carousel-item-media-icon-height-mobile: 100px;

//   // Component: Tiles gallery and tiles gallery item.
//   --tiles-content-column-padding: 7vw;
//   --tiles-gallery-sizer-width: 25%;
//   --tiles-gallery-item-standard-width-desktop: 25%;
//   --tiles-gallery-item-standard-width-mobile: 50%;
//   --tiles-gallery-item-featured-width-desktop: 50%;
//   --tiles-gallery-item-featured-width-mobile: 100%;
//   --tiles-gallery-item-padding: 2px;

//   // Component: Banner.
//   --banner-content-text-alignment: center;

//   // Component: CTA links.
//   --cta-links-spacing: 1rem;
//   --cta-links-alignment: center;
//   --cta-links-display: flex;
//   --cta-links-flex-wrap: wrap;

//   // Component: Side embed.
//   --embed-width: 50%;
//   --embed-offset: 0;
//   --content-offset: 7vw;

//   // Component: Single text block.
//   --single-text-block-tile-padding: 2px;
// }
