{{ attach_library('droopler_theme/user-display-name') }}

{% set base_class = user_display_name_base_class|default('user-display-name') %}
{% set modifiers = user_display_name_modifiers|default([]) %}

<div {{ bem(base_class, modifiers) }}>
  <span{{ attributes }}>
    {{ displayname }}
  </span>
</div>
